[2017-04-14 23:11] Random-Liu opened #3 "Create a Makefile"
We need a Makefile to manage the build, test, package and release process.

[2017-04-14 23:12] Random-Liu opened #4 "Enable Travis CI"
We should enable travis to run presubmit build and unit test.

[2017-04-14 23:13] Random-Liu opened #5 "Developer Guide"
It's too early to add a developer guide, but we should add one in the future when the build and development process is finalized.

[2017-04-15 00:17] mikebrow commented on #5
right.. I can update the readme with a basic here's what you do set of notes along with the makefile..

[2017-04-15 02:57] heartlock commented on #4
I will take this task if it's ok for you. @Random-Liu  Need Makefile and some scripts to power the test.

[2017-04-15 03:20] Random-Liu opened #6 "CRI Containerd Integration TODOs"
Required Internal Services:
- [x] [P0] Metadata store. A metadata store is required to store metadata and system state #9.
  - [x] [P0] In-memory metadata store #9.
  - [ ] [P1] On-disk metadata store. (file-based or db-based)
- [ ] [P1] Container manager. A container manager keeps containerd running in `runtime` cgroup. (See [dockershim container manager](https://github.com/kubernetes/kubernetes/

[2017-04-15 03:36] Random-Liu commented on #4
@heartlock Sure! Feel free to take this one.

But you may want to wait for https://github.com/kubernetes-incubator/cri-containerd/issues/3.

[2017-04-15 03:48] Random-Liu commented on #6
Here is a simple dependency graph, please feel free to take items based on the current status and the dependencies:
![dependencies](https://cloud.githubusercontent.com/assets/5821883/25060504/af573412-2153-11e7-919e-8fc5d06429a9.png)

[2017-04-15 15:05] mikebrow commented on #4
ok will also need some unit tests before we can unit test :-)

[2017-04-17 19:07] Random-Liu commented on #4
Yeah, for now, verification and build is enough.

In the future, we need a `make test`.

[2017-04-17 20:54] Random-Liu opened #8 "Add `--version` flag."
Add cri-containerd version.

We should version cri-containerd based on the repo tag and commit number. The version will be used:
1) As part of the name when building a release package or any docker image in the future.
2) As part of `--version` output.

Refer https://github.com/kubernetes/node-problem-detector/pull/71.

[2017-04-18 17:29] cmluciano commented on #8
I will take a stab at a PR

[2017-04-18 17:55] Random-Liu commented on #8
@cmluciano Sure. Feel free to pick up this! Thanks a lot! :)

[2017-04-19 03:37] Random-Liu commented on #3
Close this one since #7 is merged.

[2017-04-19 03:37] #3 closed

[2017-04-19 03:43] Random-Liu commented on #4
@heartlock The initial `Makefile` is merged. Feel free to add the travis file. :)

[2017-04-19 03:47] Random-Liu opened #11 "boilerplate verification is needed."
The initial Makefile is merged in https://github.com/kubernetes-incubator/cri-containerd/pull/7.

Currently, we already have `lint` and `fmt` verification. We need a boilerplate verification.

Ref https://github.com/kubernetes/repo-infra.

[2017-04-19 12:09] heartlock commented on #11
@Random-Liu How about reusing  [repo-infra](https://github.com/kubernetes/repo-infra) like [cri-tools](https://github.com/kubernetes-incubator/cri-tools)?  and use `lint` and `fmt` verification in repo-infra.

[2017-04-19 12:19] mikebrow commented on #11
repo-infra currently has some issues.. cri-tools isn't using it via vendor it has it's own copy...

Not sure of the benefits here just yet.

[2017-04-19 12:29] heartlock opened #13 "Error happened when run `make lint`"
Error happened when run `make lint`
[code]
check so slow that exceed deadline
@mikebrow @Random-Liu

[2017-04-19 18:16] mikebrow commented on #13
Buy a faster hamster? :-) tweak the timeout range and tell me what works on your computer. It does seem a bit slow to me as well but no where close to timing out. How much ram in your vm?

[2017-04-19 23:09] Random-Liu commented on #11
@heartlock Since, repo-infra are just a group of script, I don't think we could vendor them anyway. We have to copy and rewrite them. :)

For the boilerplate verification, I think we could reuse it if it works similar with https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate.

[2017-04-19 23:15] mikebrow commented on #11
^ agreed. I planned on working this Friday after dockercon

[2017-04-19 23:16] Random-Liu commented on #13
[code]

I believe it will be quite slow if you only have 1-2 cores. Why does it take so long?

[2017-04-20 00:58] eparis commented on #11
actually they can and are vendored. all of the scripts can run from inside vendor. if they don't work for you, fix them. the main kube repo will be converted one of these days.

[2017-04-20 02:30] eparis commented on #11
I think you'll find the external-provisioner using it as a submodule and the service catalog group using it as vendor if you need examples.

[2017-04-20 02:44] mikebrow commented on #11
for the go tools it feels odd to vendor what amounts to configuration options/choices for running lint... I opened up an issue a few days ago with some questions, haven't received comments, it's the only and first issue ever filed in the repo. :-) I'll take a look at the boilerplate testing code soon.

Cheers.

[2017-04-20 02:58] mikebrow commented on #13
$ time make lint
checking lint
for directory ./pkg ...
for directory ./pkg/server ...
for directory ./cmd ...
for directory ./cmd/cri-containerd ...
for directory ./cmd/cri-containerd/options ...

real	0m25.806s
user	0m29.804s
sys	0m16.384s
mike@mike-VirtualBox:~/go/src/github.com/kubernetes-incubator/cri-containerd$ go version
go version go1.7 linux/amd64

[2017-04-20 03:05] mikebrow commented on #13
and with '--debug' added as an option to gometalinter:
[code]

[2017-04-20 03:09] mikebrow commented on #13
so.... nothing in particular took too long it was the accumulation of each list test being performed.

[2017-04-20 06:07] heartlock commented on #13
Good news! Travis CI pass in #12 . But how to ensure success for most computer?  I think `deadline` should be set longer.

[2017-04-20 13:46] mikebrow commented on #13
How much longer? Was hoping to get your feedback on my above question. How much memory is in your vm?

[2017-04-21 00:36] Random-Liu commented on #11
Hm, can we use godep to vendor script project?

[2017-04-21 06:46] heartlock commented on #13
@mikebrow have 2 core
[code]

[2017-04-21 14:06] mikebrow commented on #13
kk which version of go? i'm on 1.7
My swap is to an SSD.  The PR I linked above indicates some of the lint programs are eating up way too much memory, thus resulting in a long garbage collection hiccup.

Trying to figure out how much we have to increase the timeout by (prior to the lint guys fixing their issue)

If you can pls edit deadline=30s on line 32 of ./hack/lint.sh to say 300s (5min) then

[2017-04-21 16:00] mikebrow commented on #11
The readme for repo-infra says "This repository can be used via some golang "vendoring" mechanism (such as glide), or it can be used via git subtree."  @Random-Liu unless you want to use glide.. I might just subtree repo-infra into hack/repo-infra

[2017-04-21 21:02] Random-Liu opened #15 "Use `repo-infra` when it is ready for our use case."
https://github.com/kubernetes/repo-infra is great tool.

Now we copied the boilerplate verification part into the repo, but removed the other go code verification.

It would be better to consolidate this in the future and only use `repo-infra` when it is ready for our use case.

Several related issue:
1) https://github.com/kubernetes/repo-infra/issues/15
2) https://github.com/kubernetes/repo-infra

[2017-04-21 21:04] Random-Liu commented on #4
Close this one since #12 is merged. Thanks! @heartlock

[2017-04-21 21:04] #4 closed

[2017-04-22 00:55] Random-Liu commented on #11
Close this one since this is added. @mikebrow Thanks a lot!

[2017-04-22 00:55] #11 closed

[2017-04-25 12:50] #8 closed

[2017-04-25 18:36] mikebrow commented on #13
@heartlock pls retest

[2017-04-26 06:57] heartlock commented on #13
@mikebrow Test success!  Close this issue

[2017-04-26 06:57] #13 closed

[2017-04-27 17:54] Random-Liu opened #20 "We need fake containerd services."
To better unit test functions of cri-containerd, we need a group of fake containerd services (similar with [fake docker client](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/fake_docker_client.go))

Containerd now has 4 kinds of services:
* content
* execution
* images
* rootfs

We can add a fake execution service first, because the execution api is more stable. And

[2017-04-28 01:09] heartlock commented on #20
yes, I will take this task

[2017-04-28 01:31] Random-Liu commented on #20
@heartlock Thanks!

[2017-05-03 23:19] Random-Liu opened #24 "We need a fake OS."
We need a fake OS for unit test, similar with https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/testing/os.go.

[2017-05-03 23:19] Random-Liu commented on #24
I'll pick up this one and send a PR soon.

[2017-05-04 00:06] #24 closed

[2017-05-05 06:07] Random-Liu commented on #20
I assigned this to @xlgao-zju, because he's in the org now.

/cc @heartlock @Helen-Xie Please take a look.

[2017-05-05 06:49] Helen-Xie commented on #20
ok, I will do it.

[2017-05-09 03:08] Random-Liu opened #27 "Integrate with kubernetes network plugin."
CRI expects the runtime to handle container networking.

As is expected, containerd itself doesn't provide container networking. We should integrate cri-containerd with kubernetes network plugin to initialize the network namespace.

Things need to do:
1) Add flags for network plugin settings and initialize network plugin in cri-containerd. (See https://github.com/kubernetes/kubernetes/blob/master/

[2017-05-09 03:12] Random-Liu opened #28 "Maintain resolv.conf for pod."
Previously, Docker maintains a resolv.conf for containers sharing the same network namespace.

Now, when using containerd, we need to do these ourselves. We need to:
1) Maintain a resolv.conf when creating/removing sandbox if not using `HostNetwork`. And initialize resolv.conf with `DNSOptions` in `PodSandboxConfig`.
2) Bind mount the resolv.conf into each container.

This logic is similar with cr

[2017-05-09 03:16] Random-Liu opened #29 "Support Privileged."
`Privileged` is initially a Docker concept. Docker grants a group of permissions and mounts a group of directories into a privileged pod.

In Kubernetes, we should define our own `Privileged` https://github.com/kubernetes/kubernetes/issues/44503. For now, we could do whatever docker is doing.

Things to do:
1) Figure out what docker is doing to `Privileged` container.
2) Do the same in cri-contain

[2017-05-09 06:21] xlgao-zju commented on #28
/cc @CrazyKev

[2017-05-10 16:26] Random-Liu commented on #20
I found that image store service and rootfs service are easier to fake, but content store is a little bit harder. And I'm not sure whether it's useful for us to fake at the content store level, given its interface is just every low level read write.

Let's only work on the image store and rootfs service now. For the content store, we could fake at higher level in the future.

[2017-05-11 16:59] mikebrow opened #32 "Additional work needed on image apis"
1) add config.json image/image.config struct to the resolver helper
2) remaining nit TODOs
3) add auth impl
4) add list filters
5) add name resolution code

[2017-05-11 20:12] yujuhong commented on #27
/cc @freehan, the expert of our network plugins.

[2017-05-12 16:20] Random-Liu commented on #32
And we also need to figure out a way to deal with schema 1 image.

[2017-05-12 21:29] Random-Liu opened #35 "Support schema 1 manifest."
Currently, containerd only supports schema 2 manifest.

For cri-containerd, not supporting schema 1 means:
1) Users who are still using schema 1 image could not use cri-containerd integration.
2) Some system container images are still using schema 1 manifest, e.g. pause image.

Regarding to 1), it is fine for our alpha release (this quarter), but it should be fixed before beta (probably the end of

[2017-05-12 21:58] Random-Liu commented on #32
We also need to figure out how to remove image

[2017-05-12 22:00] Random-Liu opened #36 "Add unit test for image management code."
The image management code is merged https://github.com/kubernetes-incubator/cri-containerd/pull/21.

However, we don't have unit test for it, because:
1) The fake containerd service is not ready.
2) Containerd is still changing their image side api.

We should:
1) Add unit test as much as we can for now, e.g. current `ListImages` and `ImageStatus` purely based on metadata store, it's testable.
2)

[2017-05-12 22:51] mikebrow commented on #32
Note how we put it into the store:
c.imageStore.Put(ctx, resolvedImageName, desc)

Delete should be:
c.imageStore.Delete(cox, resolvedImageName)

[2017-05-15 02:38] heartlock commented on #29
I will take this task. Wait for #22

[2017-05-16 00:35] Random-Liu commented on #29
@heartlock I'll update #22 today, and will try to get it merged this week.

[2017-05-16 00:36] Random-Liu commented on #27
@xlgao-zju The sandbox lifecycle is merged. We could start this work.

[2017-05-16 06:14] xlgao-zju commented on #27
@Random-Liu Yes, I am working on it.

[2017-05-19 22:50] Random-Liu opened #42 "Should we share UTS namespace?"
In [current implementation](https://github.com/kubernetes-incubator/cri-containerd/pull/22), we let container inside a sandbox share the same uts namespace. This is what we want in Kubernetes https://github.com/kubernetes/kubernetes/issues/1615.

However, docker doesn't support UTS namespace sharing. We should figure out:
1) Why they don't share it?
2) Whether there is any problem with UTS sharing

[2017-05-22 18:10] Random-Liu opened #43 "Create permanent network namespace for sandbox."
Currently, the network teardown logic assumes that once the network namespace is gone, we don't need to teardown the network again.

However, it doesn't work well with current implementation of cri-containerd. Currently, cri-containerd creates a sandbox container for each sandbox and use the network namespace of this container. But the problem is that, once the container dies, we'll not be able to

[2017-05-22 20:22] Random-Liu commented on #29
FYI, @heartlock The container lifecycle PR is merged. #22

[2017-05-23 02:30] Crazykev commented on #28
Since #22 has been merged, I'll get this done ASAP.

[2017-05-23 04:42] heartlock commented on #29
@Random-Liu ok, will do it.

[2017-05-23 16:14] #27 closed

[2017-05-24 01:42] Random-Liu opened #47 "Use new execution api."
The execution api of containerd is updated just now https://github.com/containerd/containerd/pull/894.

This is a good move for us, we could potentially checkpoint state-independent data into the container labels, like what we are doing for docker today.

However, we still need to do checkpoint for the state-dependent data, such as exit status, container state, timestamp.

We should update contain

[2017-05-24 03:19] Crazykev commented on #28
@Random-Liu To implement this, we need to maintain `resolv.conf` file for each pod(expect for hostNetwork pod) and `resolvPath` for this file. This `resolvPath` is related with on-disk layout(not implemented yet), do you have any suggestion or preference on this? Thanks.

[2017-05-24 03:28] Random-Liu commented on #29
@heartlock For the device mapping, you could reference the cri-o implementation. https://github.com/kubernetes-incubator/cri-o/blob/master/server/container_create.go#L68-L93

[2017-05-24 03:34] Random-Liu commented on #28
@Crazykev Just put the resolv file into sandbox root. https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/server/sandbox_run.go#L91

[2017-05-24 05:54] xlgao-zju commented on #43
I would like to make this issue two parts:

- [ ] Create permanent network namespace for sandbox.
- [ ] Add unit test.

[2017-05-24 05:57] xlgao-zju commented on #43
Since I am not maintainer of `cri-containerd`, I can not self-assigned. So ping @Random-Liu.

[2017-05-25 00:52] Random-Liu opened #49 "Use containerd client."
Containerd is adding a new client, which will make integration and our unit test much easier.

We should use it after it lands.

https://github.com/containerd/containerd/pull/904

[2017-05-25 00:52] Random-Liu commented on #47
Close this in favor of #49.

[2017-05-25 00:52] #47 closed

[2017-05-25 00:56] Random-Liu commented on #20
Just FYI, containerd is adding a new client library https://github.com/containerd/containerd/pull/904.

We should integrate and test at that level after it lands. It will be much easier.

[2017-05-25 03:58] mikebrow commented on #49
Looks nice.. will have to see if it does all we need.

[2017-05-26 16:09] Random-Liu commented on #35
This become the bigest blocker for running node e2e test.
Many images used by node e2e test are using schema 1 image.

Except that, other 2 high priority work for testing:
1) Implement container log;
2) ExecSync.

[2017-05-26 16:32] Random-Liu opened #55 "Cleanup logs and errors."
We should cleanup logs and errors:
1) We should reconsider log level, level 4 for list/status operations is too spammy;
2) We should make sure we are using `%+v` for struct, `%q` for string, and `%v` for error;
3) We should make sure necessary information is included in the log/error, e.g. container/sandbox/image id.

/cc @mikebrow

[2017-05-26 17:26] crosbymichael commented on #35
What is ExecSync?

[2017-05-26 17:40] Random-Liu commented on #35
@crosbymichael It's defined in CRI, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/api.proto#L66.

Basically exec a command in container and return result synchronously.

[2017-05-26 17:50] Random-Liu commented on #35
@crosbymichael I might mislead your guys, the other 2 items are purely on our side.

[2017-05-31 17:48] Random-Liu commented on #36
We could add better unit test, after switching to new containerd client.

[2017-05-31 18:01] Random-Liu opened #58 "Pull Image Authentication"
Containerd should have already supported pull image authentication. https://github.com/containerd/containerd/pull/783

We should figure it out whether it's enough for us and use it.

[2017-06-02 01:28] Random-Liu opened #61 "Stop container with image default stop signal"
Currently, when stopping a container, currently we send `SIGTERM`.

In the new image spec, a [`StopSignal`](https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/config.go#L50) field is added. After updating containerd, we should send the stop signal in the image config if it is specified.

[2017-06-02 01:44] Random-Liu opened #62 "CRI-Containerd Missing Pieces"
`cri-containerd` already supports basic container/sandbox lifecycle and image management today. However, there are still many missing pieces. List them here with relative proprieties:

## Missing Features
- [x] [P0] **Privileged support.** (Issue: https://github.com/kubernetes-incubator/cri-containerd/issues/29, PR: https://github.com/kubernetes-incubator/cri-containerd/pull/51)
- [x] [P0] **Stop

[2017-06-02 02:11] Random-Liu opened #63 "Update CRI version"
Kubernetes 1.7 code freeze started, we should update CRI version to the newest version https://github.com/kubernetes/kubernetes/pull/45614.

[2017-06-02 17:12] Random-Liu commented on #49
Just a note here, the so-called `AgentFactory` could be removed after we switch to new containerd client.

[2017-06-06 22:45] stevvooe commented on #62
We just haven't tagged a revision yet. The version field will contain the proper git tag, which will be semantic versioned. If the release is made off an untagged revision, it will be qualified with git commit, per `git describe`.

In general, I wouldn't recommend pushing down semantic versioning requirements on the runtimes.

[2017-06-07 00:22] Random-Liu commented on #62
Yeah, checked the code. That's the "bug" I mean. :)

Hm, I checked Kubelet code, and it seems that we don't actually require it to be a semver. Although semver is better.

[2017-06-11 04:14] Random-Liu commented on #29
Close this one since the PR is merged.

Thanks @heartlock

[2017-06-11 04:14] #29 closed

[2017-06-11 04:15] Random-Liu commented on #28
Close this one since the PR is merged, thanks! @Crazykev

[2017-06-11 04:15] #28 closed

[2017-06-14 19:16] Random-Liu commented on #49
Given that:
1) The timeframe is pretty tight;
2) Containerd client may miss some features we need, e.g. some image functions.

I propose the following plan:
- [ ] [P0] Upgrade to new containerd **API**, and make it work.
- [ ] [P1] Replace all service clients with "client.service" (containerd expose all services directly).
- [ ] [P0] Cut the alpha.1 release, which I think highly possibly will be o

[2017-06-16 02:30] Random-Liu opened #79 "Rename `container` to `task`"
The previous `container` concept in containerd is changed to `task`.
In the refactoring PR, I've changed most of them to `task`.

However, there are some left, we should clean them up.

[2017-06-16 13:51] mikebrow commented on #79
Yeah I changed the ones that "had" to change vs all of them. I figured just the ones that had to change was sufficient given that it's just a naming convention and container is the common term. But I'm not going to argue it.

[2017-06-20 16:57] Random-Liu commented on #49
Change this to v0.2.0. I don't think we have time to switch to the new client. Making sure we are using new containerd api is good enough for this release.

@mikebrow Let's finish the second step in this release and leave the client switch to next one.

[2017-06-20 17:13] Random-Liu commented on #43
Moved this to v0.2.0.

We still need this enhancement, and it's very useful. However, I don't think we could get all depdencencies merged this release, so punt this one to next release.

[2017-06-20 17:13] Random-Liu commented on #36
This work depends on the new containerd client switch, punt to v0.2.0.

[2017-06-20 17:14] Random-Liu commented on #20
We'll add new fake of the containerd client after the client switch, punt to v0.2.0.

[2017-06-20 17:15] Random-Liu commented on #6
All P0s are finished, close this one.

Other TODOs will be tracked in https://github.com/kubernetes-incubator/cri-containerd/issues/62.

[2017-06-20 17:15] #6 closed

[2017-06-20 17:24] Random-Liu commented on #32
3, 4 are not finished in this issue, but they'll be tracked in https://github.com/kubernetes-incubator/cri-containerd/issues/62.

Close this one.

[2017-06-20 17:24] #32 closed

[2017-06-20 17:24] Random-Liu commented on #35
This is finished in https://github.com/kubernetes-incubator/cri-containerd/pull/81.

Close this one.

[2017-06-20 17:24] #35 closed

[2017-06-20 22:56] #61 closed

[2017-06-20 22:58] Random-Liu commented on #63
We should update after https://github.com/kubernetes/kubernetes/pull/47818 is merged and cherry-picked.

[2017-06-21 20:21] Random-Liu commented on #63
Fixed in https://github.com/kubernetes-incubator/cri-containerd/pull/85.

[2017-06-21 20:21] #63 closed

[2017-06-21 23:32] Random-Liu opened #86 "Upgrade containerd api."
Containerd is still making changes to API, e.g. https://github.com/containerd/containerd/pull/1047, https://github.com/containerd/containerd/pull/1062.

We should upgrade once more after they finalize the api.

[2017-06-21 23:44] mikebrow commented on #86
A quick review of 1040 and 1047 they don't look like major changes just some renames.

[2017-06-21 23:57] Random-Liu commented on #86
Yeah, but without rename, cri-containerd won't work with new containerd because grpc requires both sides using the same package name. :)

[2017-06-22 00:38] Random-Liu opened #87 "Should not use dot in namespace."
Currently we are using `k8s.io`.

However, containerd will enforce dns label. https://github.com/containerd/containerd/pull/1059

We should get rid of the dot on our side.

[2017-06-22 00:40] Random-Liu commented on #87
Sorry, the PR is enfocing DNS domain. We don't need to change our side, closing.

[2017-06-22 00:40] #87 closed

[2017-06-22 01:49] crosbymichael commented on #86
Ya, we are doing our final API review so we have something consistent and good for the long term where its versioned as well.  Sorry for the churn right now but its best to do this now, before a release, then later.

[2017-06-22 01:52] Random-Liu commented on #86
@crosbymichael Yeah, no worry. :)

Just track the api change here, so that we do rebase we have better ideas what need to be changed.

[2017-06-22 01:59] crosbymichael commented on #86
When we cut the 1.0 alpha it would be a good time to rebase on it

[2017-06-22 18:49] #58 closed

[2017-06-22 22:45] Random-Liu opened #90 "An example cni config."
We need an example cni config in user guide.

[2017-06-22 22:49] mikebrow commented on #90
Right I figured I'd start out by just pointing to the CNI link. Wasn't sure how much is already documented for CNI given it's already included in kube.

[2017-06-28 18:26] Random-Liu opened #96 "Add a document about how to use crictl with cri-containerd."
[`crictl`](https://github.com/kubernetes-incubator/cri-tools/tree/master/cmd/crictl) is a CLI to interact with CRI directly for debugging purpose.

We should add a document to tell user/developer how to use `crictl` to help them debug.

[2017-06-28 18:27] Random-Liu commented on #90
A basic example cni config has been included in `make install.deps`. I guess it's good enough for v0.1.0.

[2017-06-28 18:27] #90 closed

[2017-06-29 01:24] Random-Liu commented on #5
We've added document for developer to run test https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/testing.md, which is most important for now.

Punt the others to 0.2.0.

[2017-06-29 03:07] mikebrow commented on #5
sounds good

[2017-06-30 00:18] mikebrow commented on #86
main changes:
* rename execution->tasks
* execution/task events are now implemented by a new events service
* all services now have the /v1 suffix

[2017-06-30 00:19] Random-Liu commented on #86
@mikebrow Thanks! We could keep updating here, so as to make our future rebase easier.

[2017-06-30 17:23] crosbymichael commented on #86
We still have 1-2 API level changes to make before cutting the Alpha.  I'll let you know when we do.

[2017-07-18 14:02] mikebrow commented on #86
Work in progress synching up to the containerd/containerd current master commit 4888d40ac7ca94b914c5f37c1f8129eab2df3790

[2017-07-24 15:59] mikebrow commented on #86
Moving to the latest commit to pick up some more client apis
4118a256e9f17199ed2ab647fad6946cc59fcd81

[2017-07-24 23:53] stevvooe commented on #79
So, the `task` is the running thing and the `container` is the isolation metadata. The only real difference is that we have a name for the processes within a container.

Let me know if you need help on mapping the model.

[2017-07-25 01:43] mikebrow commented on #79
@stevvooe thx.. understand what it is.. just not a fan of the term yet. Task is one of those overloaded terms, like container :-)

[2017-07-25 22:30] stevvooe commented on #79
We needed to call it something. Providing handles to all the behavior of a container while still calling all of those parts a container was getting unwieldy. We had some period of feedback on the change but didn't receive any better suggestions.

[2017-07-25 23:09] mikebrow commented on #79
maybe session.. but I'd not change it now. I'll learn to like it by substituting cmeta or session in my head :-)

[2017-07-31 22:12] Random-Liu opened #103 "Add unit test back"
Many of our unit tests rely on fake containerd services. Unit test does give us some values:
1) Make sure the options we pass to containerd are as expected;
2) Make sure the workflow is as expected especially for error handling.

However, since containerd is still in alpha, they are still getting feedbacks and may change api again and again, it's a pain and a bit waste of effort to maintain the fa

[2017-08-02 08:00] Random-Liu opened #106 "Change all Sirupsen to sirupsen"
Ref
- [x] https://github.com/containerd/containerd/issues/1266;
- [x] https://github.com/moby/moby/pull/34272;
- [x] https://github.com/kubernetes-incubator/cri-o/issues/712.

We should change vendored `Sirupsen` to `sirupsen` after dependencies are resolved.

[2017-08-02 15:12] mikebrow commented on #106
Yeah problem is some folks have moved and some have not leaving us in a golang black hole.

[2017-08-07 16:38] Random-Liu commented on #106
`docker/docker/pkg/signal` has removed the logrus usage, we could upgrade docker version to get rid of that.

[2017-08-08 01:11] Random-Liu opened #117 "Support NoNewPrivileges"
Kubernetes 1.8 and runc both support it, we should update CRI version and support it.

[2017-08-08 05:38] Random-Liu opened #118 "Put containerd-shim into pod cgroup."
We should put containerd-shim into pod cgroup, so that we could charge the resource usage to pod instead.

Ref https://github.com/containerd/containerd/issues/1032 and https://github.com/containerd/containerd/pull/1134.

/cc @lanchongyizu

[2017-08-09 18:56] Random-Liu commented on #103
We'll remove `Healthcheck` and `Version` services related unit test now, should add them back after we've got fake containerd client.

Commit which still has those unit tests 69251dd7ecc231c7cae91891241b9ec8cce76260.

/cc @abhinandanpb

[2017-08-09 21:26] Random-Liu commented on #43
/cc @abhinandanpb
This is the issue for the network namespace.

And there is a pending PR for it https://github.com/kubernetes-incubator/cri-containerd/pull/54, which was originally blocked by something else.

[2017-08-09 21:50] Random-Liu opened #120 "Checkpoint and restart recovery"
There are several restart recovery problems with current cri-containerd:
1) cri-containerd restart. Because cri-containerd maintains all internal state in-memory, including sandbox list, container list and image list, once restarted all state will be lost.
2) containerd restart. When containerd restart and reconnect, there may be state mismatch between containerd and cri-containerd, e.g. a contain

[2017-08-09 22:26] Random-Liu opened #121 "Add Container Metrics Support"
According to CRI, container runtime is responsible to provide container metrics, including:
* container CPU usage.
* container memory usage.
* container writable layer size.
* Image FS usage.

See [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L1051-L1060)

Containerd should have provided all those information:
* container CPU/memory usa

[2017-08-09 22:32] Random-Liu opened #122 "A practical way to create a Kubernetes cluster."
We need to design, implement and document a practical way to create a Kubernetes cluster using containerd as container runtime.

`kubeadm` seems to be the way to go, and https://www.projectatomic.io/blog/2017/06/using-kubeadm-with-cri-o/ is very good reference.

We can start to run some cluster e2e test after this is done.

/cc @kubernetes-incubator/maintainers-cri-containerd

[2017-08-09 23:37] mikebrow opened #124 "Add support for annotations and labels"
generateSandboxContainerSpec() is currently filtering all annotations received through the CRI api vs copying them to the runtime spec. Consider if some of the annotations should be filtered or if all should be copied over. For example:
[code]
Similarly, labels received over CRI are not being processed / handed over to containerd.

Consider the patterns enabled/being used for kubernetes when conne

[2017-08-09 23:49] Random-Liu commented on #124
There were some discussion about this before, could not find the email threads now.
The conclusion was that we don't want to expose the container label as part of api, user should not rely on it. :)

[2017-08-09 23:50] #106 closed

[2017-08-09 23:55] mikebrow commented on #124
interesting.. what about annotations?

[2017-08-10 05:41] Random-Liu opened #125 "Don't need to check `os: process already finished` any more."
This is covered by containerd now. See [here](https://github.com/containerd/containerd/blob/e9b86af848d76390251d1a604840c610e3cc181e/linux/shim/init.go#L424).

[2017-08-10 14:02] ijc commented on #122
FYI I have used `kubeadm` along with `cri-containerd` in the context of [linuxkit/projects/kubernetes](https://github.com/linuxkit/linuxkit/tree/master/projects/kubernetes) and it works, at least as far as I've kicked the tyres. I'm due to clean up those patches any day now.

[2017-08-10 17:32] Random-Liu commented on #122
@ijc Cool! Will you have a brief instruction about how to do that? I haven't got time to figure this out yet. :)

[2017-08-11 10:15] ijc commented on #122
For me it was just a case of adding
[code]
To [the script which launches `kubelet`](https://github.com/linuxkit/linuxkit/blob/master/projects/kubernetes/kubernetes/kubelet.sh).

I'm working on raising a LinuxKit PR today.

[2017-08-11 13:48] ijc commented on #122
FYI https://github.com/linuxkit/linuxkit/pull/2400 although other than what I wrote above there isn't much which isn't specific to the linuxkit pieces. I'm also @ijc on the docker community slack (I'm on #containerd and #linuxkit among other channels) if you want to chat about it.

[2017-08-14 08:04] yanxuean opened #131 "The parameters of InitCNI should be filled in reverse order in NewCRIContainerdService function"
In InitCNI, the first parameter "pluginDir " means the path of cni config file.
"cniDirs"  means the path of bin.

[code]

[2017-08-14 08:05] yanxuean commented on #131
If there is a need, I can help on this.

[2017-08-14 18:59] Random-Liu commented on #131
@yanxuean You are correct. Those 2 flags are in reverse order, but since the default configurations are also in reverse order, the test could pass till now. Thanks for finding it out!

Sure. Feel free to send out a PR. Thanks!

[2017-08-14 18:59] Random-Liu commented on #131
Assigned to you. :) @yanxuean

[2017-08-14 21:31] Random-Liu opened #133 "Disable Pid namespace sharing."
Kubernetes enabled Pid namespace sharing inside a pod with Docker 1.13+.

However, some customers reported that they could not run their container, because their containers made assumptions about the pid 1.

Before resolving this issue, we could not use pid namespace sharing in production. In cri-containerd, we should also disable it by default, and probably introduce a flag to enable it.

[2017-08-14 21:43] Random-Liu commented on #36
This is relatively lower priority, and I don't think we have time to get to this this release.

[2017-08-14 21:44] Random-Liu commented on #20
This is unit test specific change. May not have time to get to it this release.

[2017-08-16 21:52] Random-Liu opened #136 "Cleanup the image management code to use containerd client"
After https://github.com/kubernetes-incubator/cri-containerd/pull/113, cri-containerd will be using containerd client.

However, there are still some image specific code needs to cleanup, e.g. `getImageInfo`, `localResolve` etc.

We should add required functions into containerd client, and clean those functions up.

/cc @kubernetes-incubator/maintainers-cri-containerd
@abhinandanpb

[2017-08-16 23:46] #49 closed

[2017-08-16 23:48] #86 closed

[2017-08-17 02:50] #131 closed

[2017-08-17 06:22] Random-Liu commented on #125
This has been fixed in https://github.com/kubernetes-incubator/cri-containerd/pull/113.

[2017-08-17 06:22] #125 closed

[2017-08-17 06:25] Random-Liu commented on #120
@yanxuean Are you interested in this? We could start from a simple PR, just put container/sandbox metadata into container label when create container.

[2017-08-17 08:49] yanxuean commented on #120
Ok.

[2017-08-17 23:02] Random-Liu opened #140 "Update containerd version to fix a bug."
Ref https://github.com/containerd/containerd/pull/1386

[2017-08-17 23:03] Random-Liu opened #141 "Update Kubernetes version to fix a bug"
https://github.com/kubernetes/kubernetes/pull/50176.

[2017-08-17 23:04] Random-Liu commented on #141
And also ref https://github.com/kubernetes-incubator/cri-containerd/issues/117, which we could only do after updating Kubernetes.

[2017-08-18 00:00] Random-Liu opened #142 "Use context in the right way."
Currently, we pass the grpc handler context to containerd client directly.

Once the context is cancelled by the client, no functions calls could be made to containerd client.

The good thing is that, we can avoid proceeding when user want to cancel the context. However, the bad thing is that we the cleanup functions in `defer` will not be able to run, either.

Note the problem here, so that we co

[2017-08-18 04:31] Random-Liu commented on #120
Just FYI. We could leverage https://github.com/containerd/containerd/pull/1378 to store our metadata.

[2017-08-18 04:35] abhinandanpb commented on #120
@yanxuean thanks for offering help with this. Let us know if you got a chance to take a look at it and if you need any help from us.

[2017-08-18 06:28] yanxuean commented on #120
OK. I'm studying the RunPodSandbox function now. If there is a need I will.
@Random-Liu      Do you means that  we should put  sandboxstore.Sandbox  into  containers.Container.extensions by json string?

[2017-08-18 06:35] Random-Liu commented on #120
`sandboxstore.Sandbox.Metadata` and `sandbox.Container.Metadata`.

And if we use the new `extensions`, we don't need to convert it to json. Just put the type into `Any` direclty.

[2017-08-18 17:28] #140 closed

[2017-08-18 21:19] Random-Liu opened #144 "Get rid of nsenter and socat"
Currently we are using nsenter for both CNI plugin and port forword.

Ideally, we should be able to use `NetNS.Do` to run code inside a specific network namespace.

However, golang has an issue that it may spawn new threads from locked thread, which will inherit the network namespace. https://github.com/golang/go/issues/20676

We should be able to get rid of all nsenters after this is fixed.

[2017-08-18 21:20] Random-Liu commented on #144
Also ref https://github.com/kubernetes-incubator/cri-containerd/pull/139.

[2017-08-19 07:46] miaoyq commented on #117
@Random-Liu  I'm working on this,  I find ` apimachinery` is too old, resulting in a compiler error.
We should sync `apimachinery` from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery,

[2017-08-21 18:37] Random-Liu commented on #117
@miaoyq Thanks! I could do the kubernetes version update for you. I just need to do that for seccomp.

[2017-08-21 18:43] Random-Liu commented on #118
@lanchongyiju Have you got time to work on this? If not, I could help. :)

[2017-08-21 22:35] Random-Liu commented on #117
@miaoyq #148 is filed.

[2017-08-21 22:37] Random-Liu opened #149 "Support UpdateContainerResources"
A new CRI function `UpdateContainerResources` is added to update container resource constraints https://github.com/kubernetes/kubernetes/pull/46105.

This is relatively lower priority for now, because Kubelet hasn't started using it yet.

However, since containerd already [has corresponding interface](https://github.com/containerd/containerd/blob/master/api/services/tasks/v1/tasks.proto#L48), it's

[2017-08-22 00:43] miaoyq commented on #117
@Random-Liu  OK, Thanks! :-)

[2017-08-22 02:21] lanchongyizu commented on #118
@Random-Liu Yes, I am getting familiar with the code.

[2017-08-22 18:29] Random-Liu commented on #120
@yanxuean How's going? The first step is relatively straight forward, but this feature itself is important to this release. :) If you haven't got a chance to look at this, we have to start working on this now. :)

[2017-08-23 00:36] yanxuean commented on #120
@Random-Liu  I modified it, and I'm testing it, but it always is fail.
because  containerd/containerd#1378  has not  commited, I merge it on local(api/next.pb.txt,  containers.proto,  container.go), and add withextension function.
I'm analyzing the reason.

[2017-08-23 00:55] Random-Liu commented on #120
@yanxuean Could you add them to container labels for the first version? So that we could start consuming that information.

After containerd/containerd#1378 is merged, we could leverage it, but the restart recovery logic doesn't need to be changed. :)

[2017-08-23 00:56] yanxuean commented on #120
@Random-Liu     OK, I modify it today

[2017-08-23 00:59] Random-Liu commented on #120
@yanxuean Thanks! :)

[2017-08-23 06:28] #149 closed

[2017-08-23 14:02] abhinandanpb opened #158 "Update ocicni vendoring"
Update ocicni vendoring to master once cri-o/ocicni#1 is merged.

[2017-08-23 22:37] Random-Liu commented on #120
Reopen since this is not finished yet.

[2017-08-23 23:04] #158 closed

[2017-08-24 00:13] Random-Liu opened #162 "Update Test Document for Node E2E"
We added `make test-e2e-node` in https://github.com/kubernetes-incubator/cri-containerd/pull/145.

We should document that in the test document https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/testing.md.

[2017-08-24 03:58] #117 closed

[2017-08-24 04:13] Random-Liu opened #164 "Check whether permanent network namespace is removed in SandboxRemove"
Currently, we stop sandbox container and remove permanent network namespace when stop sandbox.

When remove sandbox, we check whether sandbox container is still running, but we should also check whether network namespace is properly removed.

[2017-08-24 04:43] abhinandanpb commented on #144
The other option would be to use ```ip netns exec``` provided we have our network namespaces created under ```/var/run/netns/....```

[2017-08-24 06:24] Random-Liu commented on #141
Done in https://github.com/kubernetes-incubator/cri-containerd/pull/148. Close this one.

[2017-08-24 06:24] #141 closed

[2017-08-24 11:17] yanxuean commented on #133
Does anyone do this job?

[2017-08-24 17:32] Random-Liu opened #166 "AllowPrivilegeEscalation test is failing"
https://travis-ci.org/kubernetes-incubator/cri-containerd/jobs/267875959
[code]

@miaoyq

[2017-08-24 17:47] Random-Liu commented on #166
You could run the test locally by running:
`make test-e2e-node FOCUS=AllowPrivilegeEscalation`

[2017-08-24 18:29] Random-Liu commented on #43
#138 is merged. @abhinandanpb Thanks!

[2017-08-24 18:29] #43 closed

[2017-08-24 18:57] Random-Liu commented on #166
Docker passes `NoNewPrivileges` no matter the container is privileged or not, we should do the same. This is not cause of the test failure, but track it down here.

[2017-08-25 00:52] miaoyq commented on #166
@Random-Liu Thanks for your instruction, but `NoNewPrivileges` should be `false` if container is privileged according to the proposal of  [NoNewPrivileges](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/no-new-privs.md#pod-security-policy-changes)
Below is a table defining the default behavior at the pod security policy level:

| allowPrivilegeEscalation setting

[2017-08-25 00:52] Random-Liu opened #169 "Temp file leakage."
Now whenever we run exec or attach, there will be a group of temp file leaked in `/tmp/containerd/`.

We should figure out why it's not cleaned up properly.

[2017-08-25 00:54] Random-Liu opened #170 "Set GID for RunAsUser"
Currently we only set uid for `RunAsUser`, but we are not setting gid correctly.

We should use https://github.com/containerd/containerd/pull/1425 instead after it is merged.

[2017-08-25 01:03] Random-Liu commented on #166
@miaoyq Nice chart! :)

Yeah, but Kubelet has made the decision for us, e.g. we don't need to check whether uid is 0 or not, and set no_new_privs in cri-containerd. :)

So at least in this area, I feel like we could pass through whatever kubelet gives us, and let kubelet make the decision.

[2017-08-25 01:27] miaoyq commented on #166
@Random-Liu  Make sense, I will fix this. : )

[2017-08-25 01:36] Random-Liu commented on #166
@miaoyq Thanks! I've included the thing I mentioned in https://github.com/kubernetes-incubator/cri-containerd/pull/168.

But please fix the test. :P I haven't got time to figure out what is wrong.

[2017-08-25 01:44] miaoyq commented on #166
@Random-Liu  OK

[2017-08-25 07:22] miaoyq commented on #166
@Random-Liu The problem is that "NoNewPrivs" is admitted only if the runtime is docker or rkt in kubelet.
I have opened a issue in kubernetes, see [here](https://github.com/kubernetes/kubernetes/issues/51319)

[2017-08-25 17:59] Random-Liu commented on #166
OK... Once again... Thanks for debugging! I'll see how we could deal with this.

[2017-08-25 18:04] mikebrow commented on #166
starting to feel like maybe we should do a grep of docker across the repo and start opening issues :-)

[2017-08-25 18:16] Random-Liu commented on #166
Sent https://github.com/kubernetes/kubernetes/pull/51347 to fix this.

We should update CRI once first for AppArmor. @mikebrow Would you like to do that in your PR?

[2017-08-25 21:40] #170 closed

[2017-08-26 03:36] miaoyq opened #173 "Handle the Events about sandbox container from containerd"
Now we only handle the events about app container, I think we should handle the events about the sandbox container as well.

[2017-08-28 05:21] Random-Liu commented on #133
@yanxuean Sorry. I just saw your comment. :p

[2017-08-28 05:24] Random-Liu opened #176 "`/etc/passwd` parsing is causing node e2e failure."
We added RunAsUser support recently which parses `/etc/passwd` inside the image. However, it seems that for image from scratch, there is no `/etc/passwd`, we should make sure it not fail in this case.

Sample failure (https://travis-ci.org/kubernetes-incubator/cri-containerd/jobs/268837832):
[code]

[2017-08-28 05:27] Random-Liu commented on #173
@miaoyq We don't handle events for sandbox container, because we don't need to maintain its state inside cri-containerd.

We purely rely on the existence of the corresponding containerd task: if it's running, sandbox container is ready; if not, then not ready. So every time `PodSandboxStatus` is called, we get real time information from containerd, and generate the sandbox status.

That's why we d

[2017-08-28 06:01] Random-Liu commented on #176
Ref https://github.com/containerd/containerd/pull/1433.

[2017-08-28 06:04] Random-Liu commented on #169
The reason is that currently we are relying on containerd client to cleanup the streaming pipes. However, we are not passing ContainerIO to containerd client [here](https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/server/events.go#L107).

We could do that now, but will hit another containerd issue https://github.com/containerd/containerd/issues/1431. We could fix this after h

[2017-08-28 06:47] miaoyq commented on #173
@Random-Liu  I understand, Thanks! : )
We should exclude the event sandbox containers from event stream in order to avoid outputting unexpected error print.

[2017-08-28 17:00] Random-Liu commented on #173
Close this one since #177 is merged.

[2017-08-28 17:00] #173 closed

[2017-08-28 17:07] Random-Liu commented on #166
https://github.com/kubernetes/kubernetes/pull/51347 still doesn't fix this issue. We need https://github.com/kubernetes/kubernetes/pull/51404.

@miaoyq Thanks for catching this.

[2017-08-28 17:21] Random-Liu commented on #118
@lanchongyizu Any luck?

[2017-08-29 19:08] Random-Liu opened #180 "We need the CNI plugin fix https://github.com/kubernetes-incubator/cri-o/pull/806"
We should either push that fix to cri-o/ocicni, or maintain a branch our own.

/cc @abhinandanpb

[2017-08-29 20:13] #176 closed

[2017-08-29 20:13] #169 closed

[2017-08-29 20:14] #133 closed

[2017-08-29 20:21] Random-Liu commented on #118
Hm, seems that @lanchongyizu is not here. :p

@miaoyq @yanxuean Are you interested in this?

[2017-08-29 21:07] abhinandanpb commented on #118
@Random-Liu I can take care of this

[2017-08-29 21:08] Random-Liu opened #181 "Add flag to place cri-containerd into a specific cgroup."
We should do similar thing with https://github.com/containerd/containerd/pull/1443.

With this we could put cri-containerd and containerd into a specific runtime cgroup, and [tell kubelet to monitor that cgroup](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L357).

[2017-08-29 21:11] Random-Liu opened #182 "Add config file for cri-containerd."
Currently, cri-containerd only have flags. We should add a configuration file for ease to use.

Probably use [toml](https://github.com/toml-lang/toml) which containerd is using.

[2017-08-30 00:55] yanxuean commented on #118
It seem that we have to look for other :)

[2017-08-30 01:30] Random-Liu opened #185 "Support mount propagation."
We should support mount propagation after CRI supports it https://github.com/kubernetes/kubernetes/pull/46444.

[2017-08-30 01:31] Random-Liu commented on #118
@yanxuean How about this one? :) https://github.com/kubernetes-incubator/cri-containerd/issues/182

[2017-08-30 01:35] Random-Liu opened #186 "Support ExposedPorts and Volumes in image config."
Currently, we are ignoring those fields.
We should:
1) Support Volumes based on the definition in oci image spec.
2) Consider whether we need to support ExposedPorts.

[2017-08-30 01:52] yanxuean commented on #118
ok，I study the  containerd  first

[2017-08-30 03:22] miaoyq commented on #118
@Random-Liu I am glad to accept the new task.

[2017-08-30 04:58] Random-Liu opened #188 "Update cri-tools to include the supplemental groups test."
https://github.com/kubernetes-incubator/cri-tools/pull/127

I've tried locally:
[code]

[2017-08-30 05:05] Random-Liu commented on #180
@miaoyq Would you like to do this? :)

[2017-08-30 05:43] miaoyq commented on #180
@Random-Liu OK,  I will do this.

[2017-08-30 06:00] Random-Liu commented on #180
@miaoyq Thanks! :)

[2017-08-30 07:03] lanchongyizu commented on #118
@Random-Liu I am working on it, but I encountered some problems, and I have emailed you for help.

[2017-08-30 07:20] Random-Liu commented on #118
@lanchongyizu Hm? I just checked my inbox, and didn't see your email, weird. :/

[2017-08-30 07:21] Random-Liu commented on #118
Hm, saw it, NVM. :p Let me see.

[2017-08-30 18:26] Random-Liu opened #191 "We should make sandbox container image configurable."
The default sandbox image is `gcr.io/google_containers/pause`. However, someone may want to use another one. Especially for people in China, they could not access `gcr.io` for some reason, :p

We should make it configurable.

This is the way to unblock your work @lanchongyizu.

[2017-08-30 22:07] Random-Liu commented on #188
Close. Fixed in https://github.com/kubernetes-incubator/cri-containerd/pull/189.

[2017-08-30 22:07] #188 closed

[2017-08-30 23:32] Random-Liu opened #194 "Properly configure containerd/cri-containerd cgroup."
Both containerd and cri-containerd added the flag to put themselves into a specific cgroup:
* containerd: https://github.com/containerd/containerd/pull/1443
* cri-containerd: https://github.com/kubernetes-incubator/cri-containerd/pull/184

When bootstrap the node, we should put both of them into a runtime cgroup, and pass the cgroup to kubelet via flag.

We should take care of this in our document

[2017-08-30 23:57] Random-Liu opened #195 "Add our own integration test framework."
Currently, we are relying on CRI validation test and Kubernetes node e2e test. And in the future we'll run Kubernetes cluster e2e test.

However, there are many functionalities could not be covered by these tests:
1) cri-containerd inside runtime cgroup;
2) containerd-shim inside pod cgroup;
3) cri-containerd restart;
4) apparmor/seccomp default
5) ...

We should have our own test framework for th

[2017-08-31 00:20] mikebrow commented on #195
1) agree with the need for integration testing but would like over time to have it all back into CRI validation or e2e as we enhance those buckets and the CRI.
2) I did the initial code for runc's integration bucket. We decided to use bats. That worked out ok I suppose. Not sure what the state of the art is right now. Any ideas for what you'd like to use? I see critools is all in go. That would wo

[2017-08-31 00:29] Random-Liu commented on #195
@mikebrow In Kubernetes, we are using ginkgo. In containerd, they are using golang test directly.

In either case, I think we should use a golang based test framework, which Kubernetes and containerd contributors are familiar with. I think ginkgo should be fine. We could reuse some of critools' test framework.

In my mind, critools' test framework should be shared by different cri implementations.

[2017-08-31 00:32] mikebrow commented on #195
sounds good

[2017-08-31 01:19] #136 closed

[2017-08-31 01:31] feiskyer commented on #195
Yep, cri-tools doesn't depend on any specific runtimes.

[2017-08-31 04:07] Random-Liu opened #196 "gcr.io private registry doesn't work"
Ref https://github.com/containerd/containerd/issues/1318.

We need to resolve this.

[2017-08-31 23:12] #118 closed

[2017-08-31 23:24] mikebrow commented on #196
yeah breaking all my e2e tests

[2017-08-31 23:34] Random-Liu opened #199 "Verify Selinux support."
We've added selinux features in https://github.com/kubernetes-incubator/cri-containerd/pull/157.

However, we don't have test coverage on it. And actually, even in Kubernetes we don't.

We should manually validate it.

/cc @miaoyq

[2017-09-01 06:18] miaoyq commented on #199
@Random-Liu OK, I have been working for this.

[2017-09-01 07:30] Random-Liu commented on #181
Finished in https://github.com/kubernetes-incubator/cri-containerd/pull/184.
Close.

[2017-09-01 07:30] #181 closed

[2017-09-01 08:52] yanxuean commented on #191
I can help on this.

[2017-09-01 11:53] mikebrow commented on #182
Missed the part about toml here.. Won't that become an issue with the kubernauts who are all used to yaml and are not familiar with toml?

[2017-09-01 14:20] miaoyq commented on #180
@Random-Liu  I have sent a PR for in [cri-o/ocicni](https://github.com/cri-o/ocicni/pull/2), I will fix this after merged.

[2017-09-01 23:24] Random-Liu commented on #191
@yanxuean Let @lanchongyizu try this first. He just encountered this problem, and reported to me. I think he's on this now.

We have other issues need help, too. :)

[2017-09-01 23:39] Random-Liu commented on #185
kubernetes/kubernetes#46444 is going to be merged soon. We should update kubernetes version and support it after it is merged.

[2017-09-02 02:59] yanxuean commented on #191
ok ：）

[2017-09-04 03:04] #180 closed

[2017-09-05 02:11] miaoyq commented on #199
I run a sandbox with config file:
[code]

but always failed with error print:
[code]
Maybe we should add selinux policy for cri-containerd/containerd like container-selinux for docker.
I think I still do not have enough knowledge about selinux for verifying this.
Could you give some advice for this?

[2017-09-05 19:14] Random-Liu opened #213 "Binary portability"
In https://github.com/kubernetes-incubator/cri-containerd/pull/210, we build release tarball which includes all binaries required for cri-containerd to run.

However, it's not clear to me how portable is golang binary across different OS distributions. Currently, most binaries are still dynamically linked, can they run on different OS distributions?

We may need to figure it out, or think of a bet

[2017-09-05 19:50] crosbymichael commented on #213
As long as they are dynamic then you should be good for different OSes.  This will cover the major requirements for linux amd64.

The hard part is with different arch.  Go is only so good at cross compiling so far but will start to fall short.

Overall, we usually depend on packagers/distros to handle this and provide source releases for everything else.  I'm not sure I have any good advice here b

[2017-09-06 00:10] Random-Liu opened #216 "Ambient Capabilities"
This is supported since Linux 4.3.

This is added in runtime-tools https://github.com/opencontainers/runtime-tools/blob/master/generate/generate.go#L1024.

This is not used in docker and containerd. https://github.com/containerd/containerd/blob/73ac66eecfb3e2c8635cab04d94adadbd55b1830/spec_unix.go#L85

Should we set it?

[2017-09-06 01:15] Random-Liu commented on #191
This has been fixed. Close.

[2017-09-06 01:15] #191 closed

[2017-09-06 01:15] Random-Liu commented on #185
The Kubernetes PR has been merged. We should add the mount propagation support.

Feel free to grab this one if you are interested @yanxuean @miaoyq. :)

[2017-09-06 01:17] Random-Liu commented on #199
@miaoyq I'm not familiar with selinux, either. First of all, have you rebuild your runc with selinux enabled?

[2017-09-06 01:42] yanxuean commented on #185
I don't understand this PR, Can you give me more detail.

[2017-09-06 02:49] miaoyq commented on #199
@Random-Liu  Yes, I had rebuilt it with selinux enabled, I think the problem is that we have no set the selinux policy.

[2017-09-06 03:50] miaoyq commented on #185
@Random-Liu @yanxuean  I will work for this.

[2017-09-06 04:02] miaoyq commented on #185
@Random-Liu  First of all, we should sync `k8s.io/kubernetes/staging/src/k8s.io/api` to `k8s.io/api` project.
Cloud you help me sync this?  I don't have permission.

[2017-09-06 06:42] Random-Liu commented on #186
The volumes definition in image spec is not very clear, but I assume it's expected behavior is similar with [Dockerfile VOLUME](https://docs.docker.com/engine/reference/builder/#volume).

Actually, we don't use docker volumes in Kubernetes. However, there may be user relying on image volumes (e.g. `mongo:latest` relies on volumes `/data/configdb` and `/data/db`). There 2 options for volumes:
1) Vo

[2017-09-06 06:53] Random-Liu opened #217 "The PR "put containerd-shim into pod cgroup" was reverted."
We should debug it and add the PR back.

[2017-09-06 06:55] Random-Liu commented on #185
@miaoyq Hm, their bot is broken, we may have to wait for them to sync.

[2017-09-06 06:56] Random-Liu commented on #185
@miaoyq @yanxuean I've sent Collaborators invitation to you, so that I could assign issue to you. :)

[2017-09-06 09:30] miaoyq commented on #185
@Random-Liu  Looks like we don't need to update `api`, the change is used in `k8s`.

I have created a pr for this.

[2017-09-06 17:59] crosbymichael commented on #216
No, there is more work to be done with ambient caps in order to enable it in a secure way.

ref: https://github.com/moby/moby/issues/27590

[2017-09-06 18:14] ijc opened #220 "using ro snapshot for rootfs fails if all required mount points are not present."
Trying to run the [sock shop demo](https://github.com/microservices-demo/microservices-demo) fails since several of the ro rootfs images lack various required bind-mount targets such as `/etc/hosts`. This produces (I've substituted our the long ids and manually wrapper for readability):
[code]
This is `runc` checking if the mount point exists (it doesn't) and then failing to `touch` it to create i

[2017-09-06 18:18] crosbymichael commented on #220
An init layer still won't fix everything.  User bind mounts will fail if the dir does not exist and you don't have spec information at rootfs create time to create all these dirs, atleast not usually.

The way docker works today is that it always provides RW to runc and then after runc has finished setting up the rootfs, it remounts / as RO.

[2017-09-06 18:23] ijc commented on #220
Thanks @crosbymichael. That seems to me to shift the balance towards just doing the alternative I suggested in the first instance.

We could also consider whether to _also_ add an init layer longer term.

[2017-09-06 18:27] dmcgowan commented on #220
I always wanted init layers to be a choice by the client, but I was hoping that the pure runtimes (no building) would not be concerned with the potential side effects of these files getting created. Ideally the base images would include this "default" set of directories and files that are normally needed to run linux containers. In the case where they do get created on container startup and that r

[2017-09-06 18:46] ijc commented on #186
I think it is more accurate to say you don't explicitly use them, it is unfortunately the case that they are implictly relied on though.

Sadly I don't think your no.1 is a viable option, the one [demo](https://github.com/microservices-demo/microservices-demo) I've tried so far relies on them and I expect it to be quite widespread.

So no.2 seems like the only reasonable short term option. Perhaps

[2017-09-06 20:47] Random-Liu commented on #220
So are we suggesting to do this? SGTM, given that we don't support build. This seems more simple and generic.

But I saw that https://github.com/containerd/containerd/pull/1477 was merged, so what is our plan?

[2017-09-06 21:23] ijc commented on #220
I plan to raise a PR to switch to `containerd.WithNewSnapshot()` unconditionally, it seems that is both necessary and sufficient for this use case, whether we then want to add an init layer as well I'm not sure about but that can be a separate conversation AFAICT.

[2017-09-06 22:10] #220 closed

[2017-09-06 22:44] Random-Liu commented on #166
This is fixed after updating kubernetes. @miaoyq Thanks for working on this!

[2017-09-06 22:44] #166 closed

[2017-09-06 22:48] Random-Liu opened #222 "Add truncindex for sandbox, container and image store."
In Kubernetes, we never pass trunc index via CRI.

However, trunc index makes CLI tool easier to use, e.g. `crictl` does assume trunc index should work.

We should reuse docker https://github.com/moby/moby/blob/master/pkg/truncindex/truncindex.go, and add trunc index support in sandbox, container and image store: https://github.com/kubernetes-incubator/cri-containerd/tree/master/pkg/store/image

[2017-09-06 22:48] Random-Liu commented on #222
Anyone feel free to pick up this if you are interested. :)

[2017-09-06 23:47] Random-Liu opened #224 "Run node e2e test as post submit test."
Currently, we could reliably pass 180/182 node e2e test (Non-Slow, Non-Serial, Non-Flaky), and we are running the test everyday.

We should run it more frequently to get more result and catch flakiness.

However, node e2e usually takes a long time, we should run node e2e as post submit test after https://github.com/kubernetes-incubator/cri-containerd/pull/211 is proved to be working after tonight'

[2017-09-06 23:49] Random-Liu commented on #224
And we don't need to run verification and build for post submit to accelerate it.

[2017-09-07 02:55] yanxuean commented on #222
I would like to try it.  Are there deadline?  @Random-Liu

[2017-09-07 04:02] Random-Liu commented on #222
Nope! Take your time.

[2017-09-07 04:03] #185 closed

[2017-09-07 04:24] Random-Liu opened #226 "Add a default config file which put most things into comment with description."
@yanxuean

[2017-09-07 04:25] Random-Liu commented on #226
Ref https://github.com/kubernetes-incubator/cri-containerd/pull/200

[2017-09-07 05:50] yanxuean commented on #226
and modify lines they need.

I agree with you. I originally planed to output deault toml example like containerd(e.g.   containerd  config  default).  But cri-containerd has not used urfave/cli. I'm thinking a good way for it.

[2017-09-07 05:56] yanxuean commented on #226
Do you think about  adding a arg "--print-default-toml" like "--version"?
One can get default toml by type "cri-containerd  --print-default-toml  > xxx.toml".

[2017-09-07 05:57] Random-Liu commented on #226
@yanxuean Cool, that's a better solution.

[2017-09-07 05:58] Random-Liu commented on #226
@yanxuean Actually, since `cri-containerd` is a simple daemon, we are not using `urfave/cli`.

I think a flag `--default-config` is good enough for now.

[2017-09-07 17:36] #182 closed

[2017-09-08 08:47] yanxuean commented on #222
Where do we add test case? Look like we should not add it in cri-tools  and unit tese.
@Random-Liu

[2017-09-08 23:26] #224 closed

[2017-09-08 23:33] Random-Liu commented on #222
@yanxuean What kind of test case do you mean? For this feature, I think unit test is enough. :)

[2017-09-08 23:35] Random-Liu commented on #222
Since, this means that `id` passed to CRI may be different from the real id. So please make sure all CRI functions are using ID from store instead of the id passed-in directly.

[2017-09-09 00:25] yanxuean commented on #222
Ithink we should test it like it's user(e.g. crictl).Do you mean wo only test store object?
But I modified sandboxList function because there is sandboxId in filter too :)

[2017-09-09 00:28] Random-Liu commented on #222
@yanxuean Yeah, for now only store object. Because this behavior is not actually defined in CRI, I don't think we want to add it to CRI validation test.

[2017-09-09 02:00] yanxuean commented on #222
ok. Agree with you.
Should we prohibit it in crictl?
[code]

[2017-09-11 21:57] Random-Liu opened #236 "Make kubeadm `preflight-check` and `reset` less docker specific."
This should be a kubeadm issue.

Track it here for now, and file corresponding kubeadm issue after we think this through.

[2017-09-12 01:12] Random-Liu opened #238 "TODO CRI Validation / Integration Test List"
Related to https://github.com/kubernetes-incubator/cri-containerd/pull/237.

Ref https://github.com/kubernetes/kubernetes/issues/52318.

When host path doesn't exist, CRI expects runtime to create it. We should have this tested in CRI validation test.

[2017-09-12 02:50] abhi opened #239 "RunSanbox fails with pause container image pull failure"
Observed while testing installer. Making a note of it here to work on it later.
[code]

[2017-09-12 07:15] Random-Liu commented on #239
I think we should file this to containerd.

[2017-09-13 01:42] Random-Liu opened #243 "Should make sure CNI DaemonSet support portmap"
We should follow the status of most CNI DaemonSet, and make sure they support portmap.

Or else, we'll have to use hostport.

[2017-09-14 11:01] ijc opened #245 "Invalid invocation of nsenter without netns for GetPodNetworkStatus"
I was doing some `strace` based debugging and spotted:
[code]
Which is invalid syntax due to the lack of the net arguments string option:
[code]
And with sufficient logging enabled I see this in the `cri-containerd` logs too:
[code]

Note that I do also see correct invocations of the form:
[code]

This seems to come from [`criContainerdService.PodSandboxStatus`](https://github.com/kubernetes-incub

[2017-09-14 23:11] abhinandanpb commented on #236
kubeadm reset doesnt remove kube pods in kube-system namespace
[code]

[2017-09-15 17:30] Random-Liu commented on #245
@ijc
For pod which is not using host network, after the sandbox is tore down, the network namespace will be gone. If we try to get pod status at that time, we'll see this. It should not be an error.

For pod which is using host network, CRI doesn't expect us to return a IP, because K8s will pick a proper host IP for us.

We should:
1) If pod is using host network, return empty ip;
2) else If netwo

[2017-09-15 17:31] Random-Liu commented on #245
Probably add a `getIP` function in sandbox_status.go, and we also need some unit test for it.

Please also take a look at dockershim's implementation today. https://github.com/kubernetes/kubernetes/blob/4d409a4d9e9772193cb24944bd76b90aaca01473/pkg/kubelet/dockershim/docker_sandbox.go#L307-L345

[2017-09-15 20:49] Random-Liu commented on #243
@abhinandanpb You are more familiar with this. Feel free to close this if you are sure that most CNI DaemonSet supports port map.

[2017-09-15 20:59] Random-Liu commented on #194
@abhinandanpb We should take care of this in our installer after the first version gets merged.

[2017-09-15 21:21] abhinandanpb commented on #194
yes I have a list of TODO's . This is on it.

[2017-09-15 21:38] Random-Liu opened #249 "Ansible Installer"
We need a clean, complete, ease to use ansible installer and a clear README.md or user guide for it.

[2017-09-15 21:39] Random-Liu opened #250 "Seccomp Support"
This is almost done, but file an issue here to track the progress.

[2017-09-15 21:41] Random-Liu opened #251 "Switch to containerd extension"
Ref https://github.com/containerd/containerd/pull/1378.

We should switch to new containerd extension before 1.0.0-alpha.0, so as to avoid backward compatibility issue.

[2017-09-15 21:52] Random-Liu commented on #249
Related to https://github.com/kubernetes-incubator/cri-containerd/issues/122.

[2017-09-15 21:55] Random-Liu commented on #196
The containerd side change has been merged https://github.com/containerd/containerd/pull/1465.

We should try our test again to see whether it's fixed.

[2017-09-17 04:13] Random-Liu opened #254 "Let node e2e report test failure."
Currently there is a bug in `make test-e2e-node`, it will always return exit code 0 whether the test fails or not.

We should update Kubernetes version after https://github.com/kubernetes/kubernetes/pull/52606 is merged.

Track this here.

[2017-09-18 05:38] #226 closed

[2017-09-18 17:27] Random-Liu commented on #251
containerd/containerd#1378 is merged.
We could do this now.

[2017-09-18 19:47] #196 closed

[2017-09-19 00:39] yanxuean commented on #251
I can help on this.    @Random-Liu

[2017-09-19 01:01] Random-Liu commented on #251
@yanxuean Sure! Thanks!
Please note that:
1) We need to finish this this week. Because next week, we are planning to cut a release.
2) This may need some rebase after https://github.com/kubernetes-incubator/cri-containerd/pull/209 is merged.

[2017-09-19 01:16] yanxuean commented on #251
ok, no problem.  @Random-Liu

[2017-09-19 06:08] Random-Liu commented on #245
@ijc Have you got a chance to look at this? If not, I could fix this.

[2017-09-19 06:43] Random-Liu opened #259 "[Fail] [k8s.io] Container runtime should support log [It] runtime should support starting container with log [Conformance]"
Test failure:
[code]
Related cri-containerd.log:
[code]

It seems that task exited immediately before we start it.

https://travis-ci.org/kubernetes-incubator/cri-containerd/jobs/277167279

[2017-09-19 06:52] miaoyq commented on #259
@Random-Liu The test logs seem to be covered by the new test.

[2017-09-19 10:10] ijc commented on #245
Not yet, I was hoping to have a look today (BST). I'll let you know at end of my (start of your) day if I do or not.

[2017-09-19 14:54] ijc commented on #245
I took a stab at it in #262.

[2017-09-19 18:36] Random-Liu commented on #259
Another occurrence:
[code]

[code]

Test log: http://gcsweb.k8s.io/gcs/cri-containerd_test-e2e-node/0.1.0-220-g4371312-20170919-085703/

[2017-09-19 18:52] Random-Liu commented on #245
@ijc Thanks! Will take a look.

[2017-09-20 09:22] #245 closed

[2017-09-20 09:29] Random-Liu commented on #238
Missing integration test:
Volume copy-up behavior.

[2017-09-20 17:36] #251 closed

[2017-09-20 21:04] Random-Liu commented on #238
Missing integration test:
Restart recovery test.

[2017-09-21 04:15] Random-Liu opened #268 "Travis Trusty doesn't support apparmor"
AppArmor is disabled in travis trusty, it means that all apparmor tests are skipped in travis.

It's fine for now, because I run the test myself, and they do pass on OS distro supporting AppArmor.

However, we may still want to track this issue, and we should be able to fix after we start testing in Kubernetes test infrastructure.

[2017-09-21 04:15] Random-Liu commented on #268
Ref https://github.com/kubernetes-incubator/cri-containerd/pull/267

[2017-09-21 04:17] mikebrow commented on #268
Thanks for testing and tracking this!

[2017-09-21 04:18] Random-Liu commented on #268
@mikebrow Yeah, we'll be testing this on the ubuntu image and COS image used in Kubernetes test infra.

[2017-09-21 04:19] mikebrow commented on #268
yeah, should probably move CI up to a later distro

[2017-09-21 08:01] allencloud opened #269 "What is initial version of containerd that cri-containerd supports?"
Hi, All,

What kind of containerd's version does cri-containerd support?

We know that docker-ce and docker-ee are vendoring container 0.2.3 to finish container management. While I found that there are lots of changes between container 0.2.3 and the coming container 1.0.0, especially on the image side or something else.

Then my question is that, for a CRI implementation, to upper side it should b

[2017-09-21 14:28] crosbymichael commented on #269
1.0 containerd API

[2017-09-21 16:01] mikebrow commented on #269
This project is for running kubernetes on top of containerd 1.0 and above. If you are interested in kubernetes on docker (which is using the other release of containerd (legacy isn't really the right word here)), see the kubernetes CRI based docker shim over here: https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/dockershim

[2017-09-21 18:05] mikebrow commented on #62
checked off seccomp..

[2017-09-21 18:07] Random-Liu commented on #269
Yeah, as is mentioned by @crosbymichael and @mikebrow, we are using containerd 1.0 API.

We'll update vendor to a specific containerd tag, after containerd is stabilized. Currently, we still have to grab newest commit to include fixes we need.

Docker will also switch to containerd 1.0. They will firstly switch the container management part, which I heard is going to happen by the end of this year

[2017-09-21 18:09] crosbymichael commented on #269
Docker already has a PR out to integrate containerd 1.0 that is being tested.

https://github.com/moby/moby/pull/34895

[2017-09-21 18:32] #120 closed

[2017-09-21 23:07] Random-Liu commented on #250
Close since #219 is merged.

[2017-09-21 23:07] #250 closed

[2017-09-22 01:31] allencloud commented on #269
Thanks a lot for all of your detailed explanations  @crosbymichael @mikebrow @Random-Liu
Closing this.

[2017-09-22 01:31] #269 closed

[2017-09-23 00:12] Random-Liu commented on #5
We should update both `README.md` and `testing.md`.
@mikebrow

[2017-09-25 18:08] Random-Liu commented on #217
Move this to next release. This is not supper urgent, because Kubelet is not using pod level cgroup stats anyway.

[2017-09-25 18:24] crassirostris opened #283 "Long log lines are not handled correctly"
Couldn't fine an existing issue, so I'll start this one

Currently when a container logs a line that is longer than [~4KB](https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/server/io/logger.go#L44), it is being split into multiple log entries in the container log. The information about this split in then [dropped](https://github.com/kubernetes-incubator/cri-containerd/blob/mas

[2017-09-25 20:44] Random-Liu commented on #283
Yeah. If we change the log format to something like docker json log, or add some other prefix to indicate partial lines, will fluentd be able to handle it?

[2017-09-25 20:47] crassirostris commented on #283
Yes, it will be possible. There's no such plugin yet, but at least it will be possible to write one

[2017-09-25 22:35] #195 closed

[2017-09-25 22:44] Random-Liu commented on #249
This is almost done. Only things left are some improvements.

[2017-09-25 22:44] #249 closed

[2017-09-25 22:45] Random-Liu commented on #122
I think we could close this one. We now have an ansible playbook and a getting start document for bringing up a cluster.

[2017-09-25 22:45] #122 closed

[2017-09-25 23:36] Random-Liu commented on #217
@miaoyq @yanxuean Don't know whether you guys are interested in this.

We want to put containerd-shim into pod cgroup. And PR https://github.com/kubernetes-incubator/cri-containerd/pull/193 did make it.

However, after https://github.com/kubernetes-incubator/cri-containerd/pull/193 is merged, we saw that containerd frequently reports error saying that the specified pod cgroup is not created.

We n

[2017-09-26 04:38] AkihiroSuda opened #286 "README: `./hack/local-up-cluster.sh` does not exist"
https://github.com/kubernetes-incubator/cri-containerd/blob/0e51486ec9ed655cd84e8c718aef90c8c5b6d5d0/README.md refers `/hack/local-up-cluster.sh`, which no longer exists in the repo.

Please update the README?

[2017-09-26 05:26] Random-Liu opened #287 "Integrate with kubespray"
[kubespray](https://github.com/kubernetes-incubator/kubespray) is based on ansible, which is a more comprehensive version of our current simple ansible installer.

We should investigate kubespray to see whether we could integrate with them.

[2017-09-26 05:28] AkihiroSuda commented on #286
Oh, sorry, I misread the doc

[2017-09-26 05:28] #286 closed

[2017-09-26 05:28] Random-Liu opened #288 "Integrate with kops"
[kops](https://github.com/kubernetes/kops) is potentially going to replace kube-up.sh in the long run.
We should follow their progress, and investigate how to integrate with it.

[2017-09-26 05:30] Random-Liu opened #289 "Integrate with kube-up.sh"
Although kubespray and kops are more advanced cluster bootstrapping solution, in near term, all Kubernetes upstream test infrastructure and many production workloads will be still using `kube-up.sh`.

We should integrate with `kube-up.sh` and setup cluster e2e test in Kubernetes test infrastructure.

[2017-09-26 08:56] miaoyq commented on #217
@Random-Liu I will try to debug and fix this.

[2017-09-26 20:57] #121 closed

[2017-09-26 21:40] Random-Liu commented on #62
Most important features in this list are done. Move rest of stuff to next release.

[2017-09-27 16:23] miaoyq opened #298 ""make test-cri" failed with "device not found""
In my local environment, `make test-cri` always failed with the following error print:

[code]

I removed `/var/lib/containerd` and retried, still failed. Is there a dependency tool that need to be installed?

/cc @Random-Liu

[2017-09-27 16:39] abhinandanpb commented on #298
@miaoyq which distro are u running the test on ?

[2017-09-27 23:15] abhi opened #299 "Define Expected behavior when CNI daemonsets are removed"
What is the expected behavior if a CNI daemonset is removed gracefully and there are applucation pods using the IP and networking setup by CNI plugin?
1) Should CRI-Containerd notify kubelet about it ? Or should the pods be removed explicitly by CRI-containerd ?
2) This is undefined behavior ?
3) Should plugins be able to handle this scenario themselves (not sure how , if we remove plugin1 and rep

[2017-09-28 00:00] miaoyq commented on #298
@abhi  ubuntu 14.04

[2017-09-28 01:13] Random-Liu commented on #298
Could you show us:
1) `ls /dev/disk/by-uuid`
2) `stat /`
3) `stat /var/lib/containerd/io.containerd.snapshotter.v1.overlayfs`. You are using overlayfs, right?

[2017-09-28 01:26] miaoyq commented on #298
@Random-Liu Yes, I am using overlayfs.

[code]

[2017-09-28 01:49] Random-Liu commented on #298
@miaoyq What does `mount` show?

[2017-09-28 01:58] miaoyq commented on #298
@Random-Liu
[code]

[2017-09-28 05:12] Random-Liu commented on #298
Hm, it should work then.

[2017-09-28 05:58] miaoyq commented on #298
Print based on #300
[code]

[2017-09-28 06:21] Random-Liu commented on #298
Hm, why the device is `/dev/disk/by-uuid/ebe37ba6-9975-427d-8fea-3de4cdf60730`, that is the problem...
Could you add some log in your repo to check what does `LookupMount` return? Why does it return this?

[2017-09-28 06:28] miaoyq commented on #298
Seem I have get the reason:
https://github.com/kubernetes-incubator/cri-containerd/blob/d6e04d871ed58b7f6793b2225f63501b1805b9f3/pkg/server/service.go#L245-L251
https://github.com/kubernetes-incubator/cri-containerd/blob/d6e04d871ed58b7f6793b2225f63501b1805b9f3/pkg/os/os.go#L135-L159
`info.Source` may also be a link, so we should also compare `info.Source` and link related in `os.DeviceUUID`.

I a

[2017-09-28 06:57] Random-Liu commented on #298
@miaoyq I'm fine with the fix. Just want to know in what case Source could be a symlink?

[2017-09-28 06:58] miaoyq commented on #298
@Random-Liu I have open a pr, see #302, PTAL

[2017-09-28 06:59] miaoyq commented on #298
@Random-Liu I am still not sure at all.

[2017-09-28 18:33] Random-Liu commented on #298
This should be fixed by https://github.com/kubernetes-incubator/cri-containerd/pull/297. Could you verify?

[2017-09-28 18:40] Random-Liu commented on #186
Volumes are already supported, and I don't think we have plan to support `ExposedPorts`.

[2017-09-28 18:40] #186 closed

[2017-09-28 19:00] Random-Liu opened #303 "Use containerd image readiness check function to properly recover image during restart."
Currently, during restart we read all image references from containerd image metadata store, and recover the image list.

However, a image reference in containerd image metadata store doesn't mean the image is ready for use, the image could be corrupted because of aborted image pulling.

We should use the newly added `Check` function https://github.com/containerd/containerd/pull/1567 to check cont

[2017-09-28 20:25] Random-Liu opened #304 ""latest" tarball"
We should have "latest" tarball for both `cri-containerd-release` and `cri-containerd-staging`.

Latest `cri-containerd-release` will be useful for user to fetch the latest cri-containerd release version.
Latest `cri-containerd-staging` will be useful for testing and trying out the latest cri-containerd dev version.

Ideas brought by @abhi

[2017-09-28 20:29] Random-Liu opened #305 "v1.0.0-alpha.0 release checklist"
- [x] Update Readme.md;
- [x] Update Kubernetes, containerd, cri-tools to newest tagged release;
- [x] Create `cri-containerd-release` bucket, and publish release tarball;
- [x] Update ansible playbook to point to the official release;
- [x] Release note.

[2017-09-28 20:30] Random-Liu commented on #5
I think our README.md will become our main developer guide. Close this one and focus on updating README.md.

[2017-09-28 20:30] #5 closed

[2017-09-28 20:34] crosbymichael commented on #305
If you need help with any releases, getting runc binaries, etc let me know.

[2017-09-28 21:11] Random-Liu commented on #305
@crosbymichael Thanks! :)

[2017-09-29 00:56] Random-Liu commented on #194
Moved to next patch release, not affect feature parity.

[2017-09-29 01:17] Random-Liu opened #310 "[Fail] [k8s.io] Security Context bucket [It] runtime should support that ReadOnlyRootfs is false"
[code]
Seems like a containerd problem:
[code]

https://s3.amazonaws.com/archive.travis-ci.org/jobs/281093088/log.txt?X-Amz-Expires=30&X-Amz-Date=20170929T004940Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170929/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=92e2fab46ef60cc578fbfe3fa3355e33cd0beca2f806ce94e46cccd7dfcfa736

[2017-09-29 01:38] yanxuean commented on #303
I can  help on this.  @Random-Liu
What is the deadline of alpha.1?

[2017-09-29 01:55] miaoyq commented on #298
@Random-Liu I'm working on this. Seems there is something wrong with `mount.Lookup`

[2017-09-29 02:53] Random-Liu commented on #303
Not decided yet. I think at least not next week. :)

[2017-09-29 02:53] Random-Liu commented on #298
Sure. Thanks!

[2017-09-29 03:10] yanxuean commented on #303
I will enjoy my holiday:)

[2017-09-29 06:24] Random-Liu commented on #305
Close since all are done.

[2017-09-29 06:24] #305 closed

[2017-09-29 15:09] crosbymichael commented on #310
This is probably related to https://github.com/containerd/containerd/pull/1570

[2017-09-29 16:58] Random-Liu commented on #310
@crosbymichael Hm, but we are not using `WithRootFSPath`

[2017-09-29 18:01] Random-Liu opened #314 "Support `unconfined` apparmor"
We should support AppArmor unconfined after
https://github.com/kubernetes/kubernetes/pull/52395 is merged.

[2017-09-30 17:14] abhi opened #315 "Failed to stop sandbox if network plugin is removed"
If we remove the network plugin and then stop the sandbox. It fails. Just making a note here. We can close this if its expected.

[2017-09-30 17:17] abhi commented on #315
I have a fix in mind. Will test it out and update the issue.

[2017-10-01 22:06] kelseyhightower opened #316 "failed to find task: no running task found"
I'm using cri-containerd 1.0.0-alpha.0 with Kubernetes 1.8 and I'm getting the following errors when running a pod:

### kubectl errors
[code]
[code]

I'm in the process of troubleshooting this issue, but figured I'd file this and post my logs just in case others are running into problems.

### kubelet logs

[code]
[code]

[code]

### cri-containerd logs

[code]
[code]

[code]

[2017-10-01 23:33] estesp commented on #316
cc: @Random-Liu @mikebrow

The `context deadline exceeded` entries are interesting as that would be gRPC communication issues/timeouts. No idea why those would happen randomly however.

Thanks for testing @kelseyhightower

[2017-10-01 23:34] kelseyhightower commented on #316
@estesp I'll be around today and tomorrow to help test. I'm trying to add containerd to the Kubernetes the Hard Way guide. I figured this thing was ready for testing with the latest release. Let me know if I should hold off.

[2017-10-02 00:52] kelseyhightower commented on #316
After a bit of troubleshooting here is what I've found.

The following kubelet configuration does not "work":

[code]

After deleting all the sandboxes with crictl and removing the pods the following kubelet config seems to work:

[code]

[2017-10-02 00:56] kelseyhightower commented on #316
My guess this has to do with one of the features enabled by the `--feature-gates=AllAlpha=true` flag. I'll trying and get to the bottom of this later.

[2017-10-02 05:03] abhi commented on #316
Since I had a 1.7.5 setup I just quickly tried with ```--feature-gates=AllAlpha=true``` and it seems to be fine. Like you posted above we are seeing the above mentioned issue with ```--feature-gates=AllAlpha=true``` which I am able reproduce. We will get to the bottom of it and update the thread. Thanks for trying it out and raising the issue.

[2017-10-02 16:53] Random-Liu commented on #316
@kelseyhightower Thanks for trying this out. I'll debug this.

[2017-10-02 17:21] Random-Liu commented on #316
@kelseyhightower @abhi @estesp I took a quick look at the issue. I believe it's caused by the alpha CPU manager.

CPU manager uses `UpdateContainerResources` function in CRI to update container resource limit **before starting the container**.

However, our current implementation in cri-containerd is using containerd api to update resource usage of a **running container** (which is called "task" i

[2017-10-02 17:26] Random-Liu commented on #316
Done.

[2017-10-03 05:31] kelseyhightower commented on #316
That sounds like a good plan to me. Thanks for tracking it down.

[2017-10-03 05:46] kelseyhightower opened #317 "failed to create containerd container: taking runtime copy of volume"
I'm attempting to run Istio in my Kubernetes 1.8 cluster, but I'm getting an error when trying to run the Prometheus pod.

### Environment

[code]
[code]

[code]
[code]

### Steps to reproduce

Setup Kubernetes 1.8 and install Istio and the [Istio Prometheus addon](https://istio.io/docs/tasks/telemetry/querying-metrics.html#querying-istio-metrics).

### Logs

`containerd`

[code]
[code]

`cri-cont

[2017-10-03 05:53] kelseyhightower commented on #317
I'm testing all of this using a single node Kubernetes cluster. These are the scripts I'm using to provision the cluster, containerd, and istio: https://github.com/kelseyhightower/kube

[2017-10-03 06:08] Random-Liu commented on #316
I've sent out a fix for this https://github.com/kubernetes-incubator/cri-containerd/pull/319.

I've added integration test, and it works well. I'll try cpu manager with my PR, and post update here.

[2017-10-03 06:54] Random-Liu commented on #316
With my PR, I'm able to enable AllAlpha feature now.
[code]

After create weaveworks:
[code]
And there is the systemd unit file:
[code]

Another problem I found is that node doesn't register itself to master when `AllAlpha=true`, but I don't feel like its container runtime related.

@kelseyhightower Are you using kubeadm with `AllAlpha=true`? Does it work for multiple nodes?

[2017-10-03 06:56] Random-Liu commented on #317
@kelseyhightower From the log, it seems to be containerd volume support related. I'll look into it tomorrow.

[2017-10-03 07:23] Random-Liu commented on #314
kubernetes/kubernetes#52395 has been merged.
@miaoyq @yanxuean Are you interested in this?

[2017-10-03 07:28] Random-Liu opened #320 "CRI: Allow configuring stdout/stderr streams"
The PR https://github.com/kubernetes/kubernetes/pull/52686 added 2 new options `Stdout` and `Stderr` to specify whether to enable stdout and stderr for container streaming.

We should support it.

[2017-10-03 08:48] miaoyq commented on #298
@Random-Liu  `mount.Lookup()` can not get the correct mount info corresponds to the path.
It always return the first mount info which have the same device source with the path.

I have sent a pr ([#containerd/containerd/1589](https://github.com/containerd/containerd/pull/1584)) in containerd

[2017-10-03 08:50] miaoyq commented on #314
@Random-Liu  I'll fix this.

[2017-10-03 10:40] kelseyhightower commented on #316
I'm not using kubeadm at the moment. I'm rolling everything "manually" for more control: https://github.com/kelseyhightower/kube

[2017-10-03 20:17] #316 closed

[2017-10-04 00:50] Random-Liu commented on #320
I looked at the change, actually the change is mainly inside streaming server which we are import and using. There is no api change.

We just need to update Kubernetes version and include the change in streaming server.

[2017-10-04 03:32] Random-Liu commented on #310
Another occurrence:
[code]

[2017-10-04 17:49] #314 closed

[2017-10-04 18:25] Random-Liu opened #325 "getDeviceUUID doesn't work for ZFS"
Mount info for ZFS is like this:
[code]

The pool is not a file on the disk, thus could not be stated.

We need to figure out how to get device UUID for zfs. Or maybe we need admin to pass the UUID to us for zfs if we could not figure it out.

[2017-10-04 18:28] Random-Liu commented on #320
This is fixed in #322.

[2017-10-04 18:28] #320 closed

[2017-10-04 21:24] Random-Liu opened #326 "Use new container update function in containerd client."
After https://github.com/containerd/containerd/pull/1590 and https://github.com/containerd/containerd/pull/1595,

1) We don't need to lock around containerd client.
2) We could use `Update` function in containerd client.

[2017-10-04 21:28] Random-Liu commented on #303
containerd/containerd#1567 is merged.

[2017-10-04 21:42] Random-Liu commented on #317
@kelseyhightower The error is not from Kubernetes mounted volumes. It's from the image volumes https://github.com/prometheus/prometheus/blob/master/Dockerfile#L13.

In cri-containerd, for image volume, we:
1) Create a host directory for the image volume;
1) Create a temporary to mount container rootfs
2) Mount the container rootfs into the temporary directory;
3) Copy the content from the rootfs i

[2017-10-04 22:16] Random-Liu commented on #317
I think the problem is that during `docker build`, Docker doesn't create directory for image volume.

So in the rootfs there may not be the corresponding directory for the image volume, `/prometheus` in this case.

However, when mounting the image volume, we assume that the directory should have been in the rootfs, which is wrong.

What we should do: Skip copying content from rootfs if the target

[2017-10-04 22:45] Random-Liu commented on #317
With the fix https://github.com/kubernetes-incubator/cri-containerd/pull/327, I could start Prometheus pod now:
[code]

[2017-10-04 23:03] Random-Liu commented on #303
@yanxuean Please only check image readiness during restart recovery for now. We'll consider whether we should always check readiness in list and inspect later.

And when check readiness, you need to use the new containerd function to check whether all contents are present, and also whether the top level snapshot exists (with ChainID).

If yes, good to add the image into our image store.
If not, re

[2017-10-04 23:22] #317 closed

[2017-10-06 18:00] Random-Liu opened #333 "Update `golang.org/x/sys`"
Currently, cri-containerd is using a different version of `golang.org/x/sys`.

The reason is that we are also using `docker/pkg/signal` which still relies on the old version containing `unix.SIGUNUSED`.

We should update the version after docker updates it.

[2017-10-06 20:20] #326 closed

[2017-10-09 06:27] Random-Liu commented on #304
This is addressed in https://github.com/kubernetes-incubator/cri-containerd/pull/336.

Feel free to file another issue to update ansible playbook to consume it.

[2017-10-09 06:52] Random-Liu opened #337 "Add a flag to set OOMScore of cri-containerd"
Similar with containerd, we should add a flag to set OOMScore for cri-containerd.
The default value should be -999.

[2017-10-09 20:38] #304 closed

[2017-10-10 15:14] yanxuean commented on #337
I will  do

[2017-10-10 22:06] Random-Liu commented on #337
@yanxuean Thanks!

[2017-10-11 05:05] Random-Liu opened #341 "Integrate with cadvisor"
Based on the discussion in today's signode meeting, we still have to integrate containerd with cadvisor, and update kubelet to consume metrics from both CRI and cadvisor.

For the cadvisor integration we don't need the imagefs stats, because kubelet will get that from CRI.
https://docs.google.com/presentation/d/1Os3nyMRBlFuiBLCjPgeaPv6jXylrZW5jiDXJejlA3Wg/edit?usp=sharing

This work needs to:
1) C

[2017-10-11 05:06] Random-Liu commented on #341
@abhi

[2017-10-11 06:26] miaoyq commented on #298
@Random-Liu [#containerd/containerd/1584](https://github.com/containerd/containerd/pull/1584) has been merged, could we update the containerd version to #1584?

[2017-10-11 06:33] Random-Liu commented on #298
@miaoyq I've done that in https://github.com/kubernetes-incubator/cri-containerd/pull/342

[2017-10-11 07:23] #254 closed

[2017-10-11 17:58] Random-Liu commented on #298
@miaoyq Does your PR fix this?

[2017-10-11 18:00] Random-Liu commented on #222
We could add the truncindex for filter in another PR. We do need it.

[2017-10-11 23:51] yanxuean opened #343 "Add intergration test for truncindex"
for  #222

[2017-10-12 02:07] yanxuean opened #344 "Add truncindex for filter in List and Stat"
ListContainers, ContainerStats, ListContainerStats, ListPodSandbox

#222

[2017-10-12 03:59] yanxuean commented on #303
@Random-Liu  I hit some problem. I need your help.
1.How to check whether the top snapshot exist?
c.client.SnapshotService(c.config.ContainerdConfig.Snapshotter).Stat(ctx, image.ChainID)

Seem like The Stat() only check if it is exist in io.containerd.metadata.v1.bolt/meta.db.

2. The Check() is not effective when I delete the layer content in blob on test.
    The Check() can not check it.
    Th

[2017-10-12 04:03] #222 closed

[2017-10-12 04:15] Random-Liu opened #346 "Use new containerd image garbage collection."
containerd-1.0.0-beta.2 added the image garbage collection. The current version is triggered by `Container.Delete` and `Image.Delete`, which should have already work.

However, we need to validate it. And if some logic on our side is compatible with that logic, we need to fix it.

[2017-10-12 04:15] Random-Liu commented on #346
https://github.com/containerd/containerd/releases/tag/v1.0.0-beta.2

[2017-10-12 09:16] yanxuean commented on #343
add a simple integration test for this? Just create a single container pod, and get pod/container/image with truncated index.

Integration test is here https://github.com/kubernetes-incubator/cri-containerd/tree/master/integration.
I'm fine with adding that in another PR.

[2017-10-12 17:27] #337 closed

[2017-10-13 09:27] yanxuean commented on #303
@Random-Liu     need help :)

[2017-10-16 21:12] Random-Liu opened #351 "Support `--registry-mirror`"
`kube-up.sh` is using docker `--registry-mirror`, we should consider supporting this in either cri-containerd or containerd.

[2017-10-17 14:05] cpuguy83 commented on #283
json is pretty bad at this.
Even with tons of optimizations, the json logger in Docker is requires 3 allocations per log entry, and on top of that just the slow encoding/decoding speed of json in general.

Might I suggest something like https://github.com/moby/moby/tree/master/api/types/plugins/logdriver as an alternative?

[2017-10-17 15:45] crassirostris commented on #283
Problem is, json format is highly extensible and widely understood by logging agents like fluentd or logstash, it works there out of the box and this is an important advantage

Thanks for referring to the pb log driver though, that's interesting!

[2017-10-23 14:09] #303 closed

[2017-10-23 18:49] abhi commented on #341
Starting on this

[2017-10-23 18:51] abhi opened #354 "kubectl exec doesnt have a clean prompt indentation"
[code]

[2017-10-23 19:27] crosbymichael commented on #354
This would happen if the console settings like OPOST are not synced up with what is being created inthe container and the `kubectl`

[2017-10-24 01:24] miaoyq commented on #298
@Random-Liu  Yes, I will close this issue.

[2017-10-24 01:24] #298 closed

[2017-10-24 16:15] mikebrow commented on #333
https://github.com/moby/moby/commit/86f080cff0914e9694068ed78d503701667c4c00

[2017-10-24 23:07] #333 closed

[2017-10-25 19:55] w9n opened #357 "socat port forward error when using helm"
Please have a look at linuxkit/linuxkit#2639. There seems to be a bug in port forwarding.

[2017-10-25 23:08] Random-Liu commented on #357
@w9n I think we could close this one? :)

[2017-10-25 23:41] w9n commented on #357
sure, thanks for your help!

[2017-10-25 23:41] #357 closed

[2017-10-26 01:21] Random-Liu opened #359 "Implement CRI Debug API"
We added the `verbose` option in CRI to make it possible for container runtime to provide more information for debug. https://github.com/kubernetes/kubernetes/pull/53965

We should implement it in cri-containerd.

Functions we need to change:
- [x] ContainerStatus
- [x] PodSandboxStatus
- [x] ImageStatus
- [x] Status

We need to:
1) Take a look at what information is included in today's `docker in

[2017-10-26 17:03] Random-Liu opened #361 "Use `image.IsUnpacked` in containerd."
In https://github.com/kubernetes-incubator/cri-containerd/pull/358, we need to check whether image is unpacked before container creation.

We could use the new helper function in containerd. https://github.com/containerd/containerd/pull/1668

[2017-10-27 05:37] Random-Liu commented on #217
Moved to beta milestone.

[2017-10-27 06:14] Random-Liu commented on #217
One test failure:
* containerd.log: https://storage.googleapis.com/lantaol-g8r-logs/containerd.log
* cri-containerd.log: https://storage.googleapis.com/lantaol-g8r-logs/cri-containerd.log
* kubelet.log: https://storage.googleapis.com/lantaol-g8r-logs/kubelet.log

[2017-10-27 22:45] Random-Liu opened #367 "Add documentation for `cri-containerd` subcommands."
`cri-containerd` has subcommands now. We should document it properly.

[2017-10-28 02:22] Random-Liu opened #369 "Add pprof endpoint"
This is simple, but help us improve performance in the future.

[2017-10-28 11:59] zhangzhenhao commented on #369
@Random-Liu Do you mean start a http serve for this?

[2017-10-28 18:11] Random-Liu commented on #369
Something like this https://golang.org/pkg/net/http/pprof/

[2017-10-30 14:29] mikebrow commented on #359
Background issue:
https://github.com/kubernetes/kubernetes/issues/53757

[2017-10-31 19:59] #194 closed

[2017-11-01 03:06] miaoyq commented on #361
I will work on this.

[2017-11-01 03:13] miaoyq commented on #361
/assign

[2017-11-01 03:26] miaoyq commented on #361
@yanxuean  have fixed this.
/unassign
/assign @yanxuean

[2017-11-01 03:28] yanxuean commented on #361
crash

[2017-11-01 03:29] yanxuean commented on #361
Sorry for waste @miaoyq time.

[2017-11-01 06:50] #361 closed

[2017-11-01 18:17] Random-Liu commented on #268
I think we could close this one now. We already run node e2e in Kubernetes test infrastructure, and the images used there both have apparmor support.

[2017-11-01 18:17] #268 closed

[2017-11-02 06:48] Random-Liu opened #381 "Write a crictl config in install deps."
We should write a crictl config in `make install.deps`, so that we could have a `crictl` config in our release tarball.

Currently, I have to use `crictl --runtime-endpoint=/var/run/cri-containerd.sock` each time.

[2017-11-02 18:43] #369 closed

[2017-11-02 18:59] Random-Liu opened #385 "Improve and document `hack/update-vendor.sh`"
We should improve `hack/update-vendor.sh` to compare `vendor.conf` with `hack/versions`. We always forgot to update `hack/versions`. :)

We should also document `hack/update-vendor.sh` in https://github.com/kubernetes-incubator/cri-containerd/blob/master/CONTRIBUTING.md to let people use it.

[2017-11-03 00:34] Random-Liu opened #389 "Use `lease` in image load."
Containerd is adding a new `lease` api. We should use it in our image load instead of `gc.root` after that is merged.

https://github.com/containerd/containerd/pull/1690

[2017-11-03 23:20] Random-Liu opened #391 "Put containerd and cri-containerd into a slice."
Currently, we create a specific cgroup `/runtime` for containerd and cri-containerd.

We should use slice on systemd node.

[2017-11-05 12:46] yanxuean commented on #389
/assign

[2017-11-05 12:48] yanxuean commented on #389
I do it.

[2017-11-06 09:53] weiwei04 commented on #359
If there's no one doing this, I can take a try :)

[2017-11-06 14:34] mikebrow commented on #359
I've started some work on it.

[2017-11-06 16:48] dhain opened #399 "/dev/disk/by-uuid not present in lxd container"
Trying to run cri-containerd in a lxd container, and it refuses to start because /dev/disk/by-uuid is not found:

[code]

This is a privileged container, and the overlay module is loaded, if that's relevant.

[2017-11-06 16:49] dhain commented on #399
[code]

[2017-11-06 17:44] mikebrow commented on #399
Is your root partition mounted by UUID?

[2017-11-06 17:52] dhain commented on #399
Here's the fstab on the host. It's just a digitalocean droplet:

[code]

[2017-11-06 17:56] mikebrow commented on #399
thx.. could you try to mark your lxd container as unprivileged and see if the lxd defaults are successful in that case?

[2017-11-06 18:33] Random-Liu commented on #399
@dhain Linuxkit had similar problem. /cc @ijc

1) Does your host have `/dev/disk/by-uuid`?
2) Does LXD mount `/dev` for privileged container?

[2017-11-06 18:42] Random-Liu opened #400 "Cleanup CRI Stats Integration Test"
Most of the CRI Stats Integration Tests duplicate the same piece of code.

We should refactor it a little bit with a table driven test.

[2017-11-06 18:55] dhain commented on #399
@mikebrow I retried using an unprivileged container. Same result.
@Random-Liu host *does* have it, and here's my mount output in the container (looks like it mounts specific entries, but not the whole enchilada):

[code]

[2017-11-06 19:03] Random-Liu commented on #399
@dhain I think that is the problem.

Both `/var/lib/containerd` and `/dev/disk` are not mounted.

What happens is that:
1) Kubelet wants to know what is the uuid of the disk used by image filesystem.
2) cri-containerd checks which device is `/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs` mounted on.
3) `cri-containerd` tries to find the uuid of the device.

So even inside a container,

[2017-11-06 19:13] dhain commented on #399
@Random-Liu thanks for the analysis. I'm trying to set up a k8s cluster on LXD containers to test deployment config before moving to bare metal. I'm running containerd inside the container as well. I'm treating each container like a separate physical machine, so running the whole stack inside each.

[2017-11-06 20:45] Random-Liu commented on #399
@dhain Hm, I'm not familiar with how LXD works, e.g. whether each container has separate mount namespace.

If each LXD container has a separate mount namespace, you need to let containerd and cri-containerd share the same `/var/lib/containerd`. Probably mount host path, and set mount propagation properly.

@ijc may know more about how to containerize cri-containerd.

[2017-11-06 20:56] Random-Liu commented on #359
@weiwei04 There will be various issues filed by @mikebrow or me for this in both `cri-containerd` and `cri-tools` repositories.

Feel free to pick one if you are interested. :)

[2017-11-06 22:09] #354 closed

[2017-11-07 08:41] #344 closed

[2017-11-07 13:33] abhi commented on #400
Will do that next

[2017-11-07 21:04] Random-Liu commented on #400
@abhi No worry. This is lower priority.

[2017-11-08 15:51] mikebrow opened #405 "Add support for runc hook specs"
The issue is the OCI runtime spec has support for specifying hooks that are called during the container lifecycle events. runc has implemented these hooks.  CRI does not currently provide a way to specify these hooks for inclusion into the container config.json.  We should consider adding support for hook config to cri-containerd.

See cri-o support for specifying runc hooks here:
https://github.c

[2017-11-08 18:46] Random-Liu commented on #405
@mikebrow In Kubernetes, we do have `PostStart` and `PreStop` hook, but we are using exec to implement it.

Runc may help us implement more hooks, e.g. `PreStart` and `PostStop`.

[2017-11-10 00:36] Random-Liu opened #408 "Update golang version to 1.9.x"
Kubernetes 1.9 updated golang version to 1.9.1.
https://github.com/kubernetes/kubernetes/pull/55301

[2017-11-10 15:03] #408 closed

[2017-11-10 22:30] Random-Liu opened #411 "Figure out how to better work with containerd garbage collection."
In https://github.com/containerd/containerd/issues/1738, we proposed a synchronous image deletion, which is what we want in kubelet.

However, one problem with it is that, in today's kubelet, when doing image garbage collection, we remove image one by one. And all the removal are expected to be synchronous today. It means that garbage collection will be triggered again and again.

We should evalua

[2017-11-10 22:30] Random-Liu commented on #411
This is not high priority for now, but we should come back to this in the future.

[2017-11-15 05:00] mataneja opened #416 "Distro packages for cri-containerd"
As we approach cri-containerd beta release, its time to review packaging. We would like to work with various Linux distribution maintainers to produce and maintain cri-containerd package.

The goal is for end users to be able to consume cri-containerd without having to learn and add custom repositories/sources. It will be useful to have packages for the following Linux distributions at a minimum:

[2017-11-15 15:29] ijc opened #417 "`kubectl exec` does not work"
I've been investigating this for a while on LinuxKit but I have now reproduced on an Ubuntu 16.04 provisioned using the `contrib/ansible` stuff as well, with both the default releases installed and with self built up to date versions of `containerd` and `cri-containerd` added:
[code]

The logs below are using the development versions.

I see two different failure modes depending on my use of the `

[2017-11-15 16:20] ijc commented on #417
As expected I was wrong here, I missed a sequence in the `[2:CHILD]` phase of `runc` which does:
[code]
Before the eventual `execve`.

[2017-11-15 17:07] mikebrow commented on #417
which versions of runc and cri-containerd?

[2017-11-15 17:11] ijc commented on #417
In the Ubuntu repro setup case:
[code]

In the LinuxKit case runc is `0351df1c5a66838d0c392b4ac4cf9450de844e2d` and `cri-containerd` is the same as above.

That's the runc which containerd beta.3 suggests and the latest cri-containerd.

[2017-11-15 21:17] Random-Liu commented on #417
@ijc It's caused by this change https://github.com/kubernetes/kubernetes/pull/52686.

It seems that with this change, Kubernetes <=1.8 won't work with new CRI container runtime.
@yujuhong Should we patch Kubernetes <=1.8, or should we update CRI version in 1.9 and behave differently in cri-containerd based on the version?

[2017-11-16 00:02] Random-Liu commented on #417
@ijc I discussed with @yujuhong about this today.

It is a little bit hard to fix the version skew problem because we don't have a complete api machinery for CRI now.

Are you only trying out cri-containerd or there is some user need this fix?
* If it's the former, we could update Kubernetes version to a 1.9 tag version, such as https://github.com/kubernetes/kubernetes/releases/tag/v1.9.0-alpha.2.

[2017-11-16 02:51] Random-Liu opened #418 "Move `code verification` to pull-cri-containerd-build"
Travis is not that stable, and vm seems too small:
[code]

[2017-11-16 10:10] ijc commented on #417
A user mentioned it in [#linuxkit](https://dockercommunity.slackarchive.io/linuxkit/page-78/ts-1509551850000085) (on the docker community slack). I understood it to just be something they noticed rather than a critical issue for them.

AIUI 1.9 alpha.0 is mid December and I suppose 1.9 proper will be early in the new year, so no need to hack around IMHO, it's not very long to wait (especially once

[2017-11-16 19:19] Random-Liu commented on #417
@ijc Thanks! I'll keep this issue open until we release the beta version. In the release note, we should point that out.

[2017-11-16 19:39] Random-Liu commented on #341
We should enable summary api node e2e test after this is done, to verify whether this fix.

[2017-11-16 22:55] Random-Liu commented on #341
Note that even with this change, we could not provide container log stats, see https://github.com/kubernetes/kubernetes/issues/55905.

We should point it our in the release note.

[2017-11-16 22:56] Random-Liu opened #419 "Add containerd/cri-containerd monitor."
In our current kube-up.sh integration, we don't have a [`kube-docker-monitor.service`](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/node.yaml#L42) like health monitor for cri-containerd/containerd.

We should add one.

[2017-11-18 00:43] Random-Liu opened #423 "Update containerd"
There are several code refactoring in containerd recently which may need our side to change as well:
* https://github.com/containerd/containerd/pull/1782
* https://github.com/containerd/containerd/pull/1777
* May be more.

[2017-11-18 02:38] #418 closed

[2017-11-20 22:38] Random-Liu opened #425 "Mark parallel integration test."
We should mark integration test which could run in parallel with others with `t.Parallel`.

[2017-11-21 18:00] #164 closed

[2017-11-24 06:26] yanxuean commented on #423
I will try it.

[2017-11-27 19:14] Random-Liu commented on #289
This has been mostly done.

We should polish and document this.

[2017-11-27 19:14] Random-Liu commented on #259
Never see this agian. Close and will reopen if there is another occurence.

[2017-11-27 19:14] #259 closed

[2017-11-27 19:16] Random-Liu opened #433 "Support image list filter"
Forked from https://github.com/kubernetes-incubator/cri-containerd/issues/62.

Currently, we don't support it, and kubelet/crictl is not using it.

We should decide whether we should support it.

[2017-11-27 19:19] Random-Liu opened #434 "Handle containerd event reliably"
Forked from https://github.com/kubernetes-incubator/cri-containerd/issues/62.

Today, we rely on containerd event to figure out whether a container exits or not.

However, when handling an event, if there is an error, we'll just report error and discard the event, e.g. https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/server/events.go#L91-L143.

Once that happens, the containe

[2017-11-27 19:20] Random-Liu commented on #62
Filed #433 and #434 for the last 2 items. Close this one.

[2017-11-27 19:20] #62 closed

[2017-11-27 19:24] mikebrow opened #435 "Update protobuf, grpc, and gogo"
Containerd has moved up.. see:

https://github.com/containerd/containerd/commit/35697865c056dde69af6a1795ed0c300b0d01eb9

[2017-11-27 19:25] Random-Liu commented on #283
We've switched to the new CRI log format this release. https://github.com/kubernetes-incubator/cri-containerd/pull/421

Future work will be based on our decision about the logging format.

[2017-11-27 20:01] Random-Liu opened #436 "calico issue"
Open this to track a calico issue:
* https://github.com/projectcalico/calico/issues/1406
* https://github.com/projectcalico/cni-plugin/issues/352

We see the same issue in our integration test for kubernete+containerd+calico integration:
[code]

[2017-11-27 20:03] #423 closed

[2017-11-27 23:29] Random-Liu commented on #346
We are already using containerd garbage collection. It is triggered when an image or a container is deleted.
We'll carry future discussion in https://github.com/kubernetes-incubator/cri-containerd/issues/411.
Close this one.

[2017-11-27 23:30] #346 closed

[2017-11-28 06:15] czm4514 opened #439 "when i use the command "kubectl exec" i got Timeout occured"
Kubernetes + cri-containerd+containerd setup successfully. and I created the pod using the follow pom.xml
[code]
after the pod is running,when i use the command "kubectl exec" i got the error
[code]
please give me some helps.

[2017-11-28 10:25] ijc commented on #439
Thanks for your report. This looks like a dup of #417 so closing in favour of that.

[2017-11-28 10:25] #439 closed

[2017-11-28 18:11] Random-Liu commented on #417
@czm4514 The new cri-containerd will only work with Kubernetes 1.9 because of some CRI change kubernetes/kubernetes#52686.

What cri-containerd and kubernetes version are you using?

[2017-11-29 00:15] Random-Liu commented on #359
Things might be useful for container info:
* container config.
* pid.
* more

[2017-11-29 01:51] abhi commented on #359
Starting on this

[2017-11-29 02:33] yanxuean commented on #435
/assign

[2017-11-29 02:33] czm4514 opened #443 ""kubectl logs": eviction manager: no observation found for eviction signal allocatableNodeFs.available"
I used Kubernetes1.8.3+cri-containerd+containerd,when i create the pod ,i got the same error
here is my cluster infos:
Kubernetes：
[code]
containerd
[code]
docker:
[code]

tail -f /var/log/messages
[code]
kubectl logs pod-example-2
[code]

kubectl get pod -owide
[code]
kubectl describe pod pod-example-2
[code]

is there anybody can help?

[2017-11-29 04:20] #435 closed

[2017-11-29 16:32] mikebrow commented on #359
hey ok been busy :-)

[2017-11-29 16:36] mikebrow commented on #359
"value should be in json format" grr

[2017-11-29 17:39] mikebrow commented on #359
ok added:

- container config.
- pid.
- removing state.
- container runtime spec.

The runtime spec has tons of good debug stuff missed in the non verbose.. it although there will be lots of duplicate information as well.

[2017-11-29 18:18] #389 closed

[2017-11-29 18:41] mikebrow commented on #359
See https://github.com/kubernetes-incubator/cri-tools/pull/206

[2017-11-30 02:33] czm4514 opened #446 "is there any architectural drawings for beginners?"
As a beginer, I want to know more about this project so that i can use the cri-containerd into our kubernetes cluster.
I want to know if you have an architectural picture like [containerd](https://github.com/containerd/containerd) if yes. Can not be shared? if not,
Is it possible to draw the structure as soon as possible, so that later can learn.

[2017-11-30 02:36] czm4514 commented on #446
@Random-Liu please give some helps.

[2017-11-30 02:38] Random-Liu commented on #446
I usually use this one:
![image](https://user-images.githubusercontent.com/5821883/33410317-831011fe-d534-11e7-86f6-9c5c95913b04.png)
See https://www.slideshare.net/Docker/kubernetes-cri-containerd-integration-by-lantao-liu-google

[2017-11-30 02:39] Random-Liu commented on #446
Let's keep this issue open. We should have a document in the repo explaining how cri-containerd works.

[2017-11-30 02:43] Random-Liu commented on #443
@czm4514 Could you provide the pod yaml?

[2017-11-30 02:43] Random-Liu commented on #434
@abhi Are you interested in this one?

[2017-11-30 06:14] czm4514 commented on #446
thank you very much.

[2017-11-30 22:22] Random-Liu opened #448 "Too many open files by containerd"
I tried to run cluster e2e test against a local cluster. However, I get following errors:
[code]
[code]

Most of the open files are socket:
[code]

But actually there are only tons of containers running:
[code]

[2017-11-30 22:24] Random-Liu commented on #448
@stevvooe @crosbymichael Is this normal? This seems like we are not closing socket properly.

[2017-11-30 23:37] crosbymichael commented on #448
@Random-Liu how are you getting the socket data?

Looking at `/proc/<containerd pid>/fd/` ?

[2017-11-30 23:46] crosbymichael commented on #448
I verified this is fixed in containerd master.  It was fixed by the ttrpc bump implementing shutdown.

I checked out the commit before and HEAD and before, i get a few extra sockets sticking around with stress tests. With HEAD, It starts with 4 sockets open and after a stress test run, only 4 are left.

However, I think your install script is messed up because 1024 open fds is not enough recommend

[2017-11-30 23:48] crosbymichael commented on #448
If you use systemd then
[code]

Should fix your service file.

[2017-11-30 23:52] Random-Liu commented on #448
This is a local cluster. I start container with `sudo containerd` directly. But as you said, I should change the limit in the systemd service unit. Will take a look at our today's docker setup, and update this.

[2017-11-30 23:53] crosbymichael commented on #448
@Random-Liu fixed it for ya:

https://github.com/containerd/containerd/pull/1846

[2017-12-01 00:00] Random-Liu commented on #351
@abhi Thanks for volunteering to take a look.
We need something similar with:
[code]

[2017-12-01 00:22] Random-Liu commented on #359
Add sandbox id in container status. We should add it into CRI eventually, but it's code freeze now.

[2017-12-01 00:58] mikebrow commented on #359
A little back link to the pod.. ok I like it.

[2017-12-01 01:04] #448 closed

[2017-12-01 17:47] mikebrow commented on #359
Added:
Container Status:

- sandboxID

Pod Status:

- sandboxContainerdPID
- sandboxContainerState
- runtimeSpec
- snapshotter info

[2017-12-01 19:15] Random-Liu opened #455 "boilerplate verification is not working properly."
It doesn't work.

[2017-12-02 00:24] Random-Liu opened #461 "Setup PR cluster e2e test."
Currently we only have PR node e2e test. And cluster e2e test is still flaky now.

However, we may still want a cluster e2e test. It shouldn't run by default, but should be triggerable, so that we could run it on PR if we think a test may break cluster e2e test, such as https://github.com/kubernetes-incubator/cri-containerd/pull/451.

[2017-12-02 01:15] Random-Liu opened #462 "Integrate with minikube."
We should integrate with minikube to make it easier for people to try this out.

[2017-12-02 13:39] mikebrow commented on #461
Two edged sword. Cluster e2e has always been flaky.  But one could argue it's flaky because it needs to be fixed, and to get fixed it needs to be run more often to find, debug, and route out the flakes.

[2017-12-04 18:21] Random-Liu opened #466 "Switch to a temporary GOPATH for `make install.deps`."
We may not want to mess up the local GOPATH.
We may probably want to switch to a temporary `GOPATH` to do `make install.deps`.

[2017-12-04 18:32] #343 closed

[2017-12-04 18:33] Random-Liu opened #468 "Revert or cleanup https://github.com/kubernetes-incubator/cri-containerd/pull/463"
We merged https://github.com/kubernetes-incubator/cri-containerd/pull/463 to help debug https://github.com/containerd/containerd/issues/1785.

We should revert or clean it up after https://github.com/containerd/containerd/issues/1785 is fixed.

File this issue to track that.

[2017-12-05 01:17] mikebrow commented on #359
Added:

Image Status:

- image config
- image config descriptor
- image target descriptor
- image digest info for the array of digests

[2017-12-05 01:36] mikebrow commented on #359
** ok now that we've got a decent amount of debug info in the verbose mode, we need to go back and add (or consider adding) some group structs for the verbose information. This is because the order for the data in the map is random and might not make as much sense out of order as it would in some defined sequence at least for a group of items.

Eg. "snapshotInfo": { "snapshotKey": ... "snapshotter

[2017-12-05 06:26] yanxuean commented on #468
I suggest to reserve it.  We spent many time on the issue. Maybe the code is usable for coming issue.

[2017-12-05 06:29] yanxuean commented on #468
We can make some test cases to check the service of containerd .
These test cases can use the checkImage and checkSnapshot function.
@mikebrow  WDYT?

[2017-12-05 07:32] Random-Liu commented on #468
@yanxuean I don't think we should keep that in the production code path. The extra mount/unmount affects performance.

As for whether we want to add a test for that, I feel like it should be a containerd test instead.
We added it in our code, because we could only reproduce it in our CI. It's not very useful to add a single unit test for that.

[2017-12-05 07:37] Random-Liu opened #472 "Change CRI Status info to be an array instead of a map."
CRI container runtime could not control fields order with map.
We should use an array of key-value instead.

We should do this in Kubernetes 1.10.

[2017-12-05 09:07] yanxuean commented on #468
OK, Agree

[2017-12-05 13:37] mikebrow commented on #472
To late to change it now?

[2017-12-05 18:19] Random-Liu commented on #472
Yeah

[2017-12-06 00:28] Random-Liu opened #476 "Stop deploy staging tarball from travis."
We've got a CI in kubernetes test-infra to deploy staging tarball.
We should remove the travis one to avoid race condition.

[2017-12-06 01:51] mikebrow commented on #359
Pod and Image verbose info are ready for final review.

[2017-12-06 04:50] #476 closed

[2017-12-07 12:03] yanxuean commented on #434
I prefer to choose No. 1.

[2017-12-08 00:38] yanxuean opened #483 "update containerd for refactoring cio package"
https://github.com/containerd/containerd/pull/1895

[2017-12-08 06:54] miaoyq commented on #455
#458 have fixed this issue, we should close it.

[2017-12-08 13:36] #455 closed

[2017-12-08 21:19] dnephin commented on #483
I've already got a branch for this: https://github.com/dnephin/cri-containerd/commit/f0745e15c9988cd2f7484dfff018c9886c597819 :)

I'll open a PR soon

[2017-12-08 23:58] yanxuean commented on #483
ok, tks. @dnephin

[2017-12-09 03:44] yanxuean commented on #434
@Random-Liu
I don't understand. Must we maintain status for every container in local?
I think the cost is bit of high.
1. For No.1, to relist:
    The will is duplicate with pleg.relist in kubelet.
2. for No.2. requeue the event
    What if containerd sent event to us during restart cri-container?
    And maybe there are some abnormal case in containerd.
    I think it is difficult to reliably mai

[2017-12-11 09:13] miaoyq opened #488 "cri-containerd shouldn't exit when contaienrd exit"
`cri-containerd` and `containerd` are different services, so `cri-containerd` shouldn't exit when `containerd` is not up yet or exit.
Instead, `cri-containerd` should periodically check if `containerd` is active or not.
Like kubelet check `container-runtime`.

@kubernetes-incubator/maintainers-cri-containerd   wdyt?

[2017-12-11 18:19] Random-Liu commented on #488
@miaoyq This is on purpose.
The reason is here:
https://github.com/kubernetes-incubator/cri-containerd/pull/183

[2017-12-12 02:04] miaoyq commented on #488
@Random-Liu  Got it, Thanks.

[2017-12-12 02:39] yanxuean opened #489 "figure out if we need to filter event from containerd"
refer to #484

[2017-12-12 02:47] Random-Liu commented on #489
@yanxuean Thanks for filing this.

Let's revisit this next release.

[2017-12-12 02:49] Random-Liu commented on #488
Close this one. :)

[2017-12-12 02:49] #488 closed

[2017-12-12 08:24] #466 closed

[2017-12-12 19:45] Random-Liu commented on #468
I think we can close this now. @yanxuean

[2017-12-12 19:45] #468 closed

[2017-12-12 19:47] Random-Liu commented on #79
I think we've finished most of this. Let's close this one.

[2017-12-12 19:47] #79 closed

[2017-12-12 19:48] Random-Liu commented on #381
Done.

[2017-12-12 19:48] #381 closed

[2017-12-12 19:52] Random-Liu commented on #434
Only kubelet will use this. we can keep cri-containerd simple, just as adapter.

The problem is that containerd doesn't persist container status, e.g. exit code, started/finished timestamp,  OOM etc. After task is deleted, containerd-shim is stopped, all these are gone.

[2017-12-12 20:05] Random-Liu opened #491 "Add healthcheck endpoint/api for cri-containerd."
Currently in `health-monitor.sh` we use `crictl sandboxes` to check whether cri-containerd and containerd are healthy.

However, it adds extra overhead to the system. We should add a lightweight healthcheck endpoint/api to serve that purpose.

The healthcheck endpoint should **NOT ONLY** say that:
1) cri-containerd is running;
2) cri-containerd grpc server is serving traffic.

Those are not suffic

[2017-12-12 20:05] Random-Liu commented on #491
Forked from discussion [here](https://github.com/kubernetes-incubator/cri-containerd/pull/490#discussion_r156378081)

[2017-12-12 22:08] mikebrow commented on #359
Image verbose is ready for final review...

[2017-12-12 23:13] Random-Liu commented on #359
@mikebrow All done. I think we can close this one.

Can you add a simple document for `crictl`? For https://github.com/kubernetes-incubator/cri-containerd/issues/96

We just need a reference in somewhere in our repo.
It should point out that:
1) We should use `crictl` for debugging cri-containerd.
2) A simple example, e.g. `crictl inspect`.
3) Link to crictl document.

[2017-12-12 23:13] #359 closed

[2017-12-12 23:19] yanxuean commented on #468
yes

[2017-12-13 00:39] #419 closed

[2017-12-13 01:03] Random-Liu opened #492 "Use `pkill containerd` instead of `pkill -9 containerd` in health-monitor.sh"
We could do that after containerd deadlock is fixed in 1.0.
https://github.com/containerd/containerd/pull/1913

[2017-12-13 04:05] yanxuean commented on #434
I will study containerd again late.  Do you decide which proposal we will use?

[2017-12-13 07:45] miaoyq opened #495 "Supports configuring the log level without exiting the program"
In a production environment, the log level is usually set to a lower level. However, we also need to see more detailed log information when debugging a issue, but don't want to quit the program in order to protect the current context.

So I think we should support configuring the log level without exiting cri-containerd.

[2017-12-13 18:21] Random-Liu commented on #495
@miaoyq How does other system usually support this? Add an API, or use signal, or something?

[2017-12-13 19:09] Random-Liu commented on #434
Move this to next release, this need further discussion.
I think proposal 2 is more align with current design, and should be simpler.
If we find out that it's insufficient, we could change to relist model later. I think we should give proposal 2 a shot first. :)

[2017-12-13 23:42] miaoyq commented on #495
@Random-liu Use signal like dumpstack, docker support reload config file via SIGHUB signal that contains log level setting.

[2017-12-13 23:48] miaoyq commented on #495
@Random-Liu We should support setting log level at least.

[2017-12-14 00:04] mikebrow commented on #495
interesting.. not against dynamic log level.. but it's pretty easy to cycle cri-containerd

[2017-12-14 03:02] Random-Liu commented on #96
Close this one, since the doc has been merged.

[2017-12-14 03:02] #96 closed

[2017-12-14 03:04] Random-Liu commented on #217
Move this to next release. @abhi is looking into this.

[2017-12-14 03:05] Random-Liu commented on #238
We've added restart test for sandbox, trunc index test and some other integration tests.

Move this to next release, we should continue adding full restart test and improve our integration test.

[2017-12-14 03:14] yanxuean commented on #462
/assign

[2017-12-14 20:03] #289 closed

[2017-12-15 20:10] Random-Liu opened #506 "GCE: Upload release tarball to user's own GCS for cluster bootstrapping."
Currently, all nodes inside the cluster download release tarball from `cri-containerd-release` gcs bucket and bootstrap the cluster.

This should be fine for now, and hopefully in the future we could build cri-containerd/containerd into OS image directly.

However, if we are going to do this for a long time, then we should update release tarball to user's own GCS for cluster bootstrapping.

[2017-12-16 00:14] #492 closed

[2017-12-16 01:38] #417 closed

[2017-12-16 01:38] #341 closed

[2017-12-18 11:36] ijc commented on #417
I updated Linuxkit to Kube v1.9.0 and cri-containerd beta.0 and can confirm that `kubectl exec` now works, thanks!

[2017-12-18 17:56] tkellen opened #509 "open /dev/disk/by-uuid: no such file or directory"
Hello,

First, thanks for all your great work on this project!

I am attempting to run cri-containerd v1.0.0-beta.0 on [Scaleway](http://scaleway.com) Ubuntu machines and I'm hitting this:

[code]

...any insight on how to proceed would be greatly appreciated!

[2017-12-18 18:29] Random-Liu commented on #325
Reopen this issue. According to https://github.com/kubernetes-incubator/cri-containerd/pull/335#issuecomment-336724360, ZFS still doesn't work.

The main problem is that ZFS doesn't have an uuid, because it manages the block/volume itself.

I feel like we should throw out an error and proceeding if we could not get uuid, the only thing won't work is that kubelet can't get image fs capacity. Howeve

[2017-12-18 18:36] Random-Liu commented on #509
Are you using `udev` or `mdev`?

[2017-12-18 18:40] Random-Liu commented on #509
I filed https://github.com/kubernetes-incubator/cri-containerd/pull/510 for now to unblock people from trying it out.

I'll work with @yujuhong and the other team members to figure out whether we should change CRI to make this more portable.

[2017-12-18 23:41] Random-Liu commented on #509
@tkellen Thanks for filing the issue. I've filed https://github.com/kubernetes/kubernetes/issues/57356 to carry on the related api design discussion.

[2017-12-19 04:36] tkellen commented on #509
Thanks @Random-Liu! Apologies for not replying RE: mdev/udev, yet. This was my first time using Scaleway and I shut the instances down shortly after the failure and moved on to the next provider (I'm testing any with terraform support over at https://github.com/tkellen/kwm/tree/master/hack.

I'll spin up another machine tomorrow and check. If you give me some commands to run I'd be happy to share

[2017-12-19 18:41] vburenin opened #512 "Is there any way to know on a containerd level to which pod a container belongs to?"
By default, containerd runs containers locally using runc, however there are projects which are spinning up each container as a separate VM. This behavior doesn't fit k8s pod concept, since containers do not share same memory, FS, etc. To fix it pod containers should run on the same VM. However, if containerd can't know to which pod container belongs to, so it will not know if it needs a new VM or

[2017-12-19 23:12] vburenin commented on #512
I guess I could use these container labels:
io.kubernetes.pod.name
io.kubernetes.pod.namespace
io.kubernetes.pod.uid

It might be not very reliable long term if labels are changed in the future, but should be fine for now.

[2017-12-20 01:32] Random-Liu commented on #509
@tkellen Thanks! It seems that you can check `/sbin/mdev`, see https://stackoverflow.com/questions/22719005/how-to-know-if-udev-or-mdev-is-enabled.

[2017-12-20 01:33] yanxuean commented on #512
These labels be passed over CRI, them should be reliable.

[2017-12-20 02:34] Random-Liu commented on #512
Yeah, we don't expect user to rely on the labels, although there are users doing that.

@vburenin I believe the behavior you mentioned should happen in cri-containerd instead of containerd. There are several reasons:
1) Containerd only accept a OCI runtime spec, and use it to talk to OCI runtime to create container. It's cri-containerd compose the runtime spec based on pod/container config.
2) The

[2017-12-20 03:47] vburenin commented on #512
@Random-Liu Thank you so much for that extensive answer. It feels like I am right on time here. At the moment I am mostly working on PoC for some ideas and prototypes, but it feels like it is going to go way beyond that after holidays.

So yes, I am very interested in the secure pod API discussion. I will try to make it on Tuesday next week.

[2017-12-20 17:02] tkellen commented on #509
[code]

[2017-12-20 17:05] tkellen commented on #509
Seems neither are available. Picking a random person from the scaleway organization to see if they can weigh in on this decision. Hi... @nlm?

[2017-12-20 22:16] Random-Liu commented on #512
@vburenin Next signode meeting will be Janurary 2nd. I think we'll discuss about 2018 plans on that meeting.

[2017-12-20 22:19] Random-Liu commented on #509
@tkellen Thanks for investigating that.
@nlm, what device manager is scaleway Ubuntu using? Why isn't there `/dev/disk/by-uuid`?

[2018-01-02 13:48] DefunctExodus opened #515 "Sandbox config - rlimit"
I am currently in the midst of configuring a cluster with `cri-contianerd` and I am struggling with the default rlimits that are passed down.
[code]

I am wondering if there is a method to configure the rlimits.

Thanks

[2018-01-02 17:23] Random-Liu commented on #512
@vburenin I think Jan 2nd signode meeting is cancelled, because most of people are still on vocation. Feel free to join the next one.

[2018-01-02 17:50] Random-Liu commented on #515
@DefunctExodus Thanks for reporting this issue!

@crosbymichael I think the problem is that:
* Docker default OCI spec doesn't have rlimit: https://github.com/moby/moby/blob/master/oci/defaults.go#L57.
* Containerd default has that: https://github.com/containerd/containerd/blob/master/oci/spec_unix.go#L87.

Kubernetes doesn't have rlimit support today https://github.com/kubernetes/kubernetes/issue

[2018-01-02 18:41] Random-Liu commented on #515
@DefunctExodus I discussed with @crosbymichael. To avoid regression, we'll remove the rlimit from the default spec for now.

However, please note that it means all your processes will inherit the limit from containerd. https://github.com/kubernetes-incubator/cri-containerd/blob/master/contrib/systemd-units/containerd.service#L14-L18
This is also the case for the Kubernetes Docker integration today

[2018-01-02 19:22] mikebrow commented on #515
So really two issues, one is the regression when moving from cri docker, the other is the CRI issue for specifying OCI runtime spec rlimits.

[2018-01-02 19:25] DefunctExodus commented on #515
@Random-Liu

Thanks for looking into this so quickly, that fix sounds just fine.

[2018-01-02 19:54] Random-Liu commented on #515
@mikebrow Yeah, the rlimit issue for Kubernetes is tracked in kubernetes/kubernetes#3595.

[2018-01-02 19:54] #515 closed

[2018-01-03 15:37] pires opened #517 "Privileged containers fail on CentOS"
Can't run privileged containers with the following set-up:
- CentOS 7.x, `3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- Kubernetes 1.9.0
- containerd 1.0.0
- cri-containerd v1.0.0-beta.0

How to reproduce:
[code]

What we're seeing:
[code]

However, Docker CE 17.12, which runs the same containerd version, works fine.

cc @bmcstdio

[2018-01-03 18:59] Random-Liu commented on #517
@pires Thanks for reporting!
For kernel older than `CAP_AUDIT_READ` is not supported. http://man7.org/linux/man-pages/man7/capabilities.7.html
[code]
We need to enable the host specific logic in runtime-tools generator https://github.com/opencontainers/runtime-tools/blob/master/generate/generate.go#L31. I'll send out a PR soon.

[2018-01-03 19:13] pires commented on #517
Thanks @Random-Liu you just saved us a bunch of time - we were looking into a fix too but you got there really fast.

[2018-01-03 20:00] #517 closed

[2018-01-04 06:08] ambiknai opened #520 "Unable to create sandbox"
Error while creating sandbox
root@cri-master:~# crictl version
[code]

cat sandbox-config.json
[code]

[2018-01-04 07:08] Random-Liu commented on #520
@ambiknai How did you install cri-containerd? Can you point me which doc did you follow?

It seems to me that your CNI is not installed.

[2018-01-04 07:19] ambiknai commented on #520
I followed this doc
[https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/installation.md](url)

[2018-01-04 07:22] Random-Liu commented on #520
That is a document for create a Kubernetes cluster with `kubeadm`. If you follow the whole document including the last step [Bring Up the Cluster](https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/installation.md#bring-up-the-cluster), you will be able to create sandbox.

The CNI plugin is installed in the last step.

[2018-01-04 07:32] ambiknai commented on #520
Yes, I did that as well
[code]

[2018-01-04 07:33] Random-Liu commented on #520
Hm then that’s weird. I’ll take a look tomorrow morning. Thanks for reporting issue!

[2018-01-04 10:12] ambiknai commented on #520
Should a pod by name `nginx-sanbox` be present before we do the sandbox creation.Because the error says `pods "nginx-sandbox" not found `

[2018-01-04 10:34] miaoyq commented on #520
[code]

Could you remove `"attempt": 1,` and try it again?

[2018-01-04 15:36] cpuguy83 commented on #495
Agreed, but also cycling can cause you to lose data about a problem you are experiencing.

[2018-01-04 16:02] cpuguy83 commented on #144
Or alternatively could setup a container to do this work... of course any option still requires execing a new process until go1.10 lands.

[2018-01-04 18:37] Random-Liu commented on #520
@ambiknai I think the problem is that: IIRC, calico daemonset watch apiserver to get a list of pods, and apply network configuration based on the pod spec.

If you use `crictl` create a sandbox yourself, there won't be corresponding pod on apiserver, thus calico reports that error.

In fact, we don't recommend user to run `crictl runs` and `crictl create`, those commands are there just for some sp

[2018-01-04 19:32] cpuguy83 commented on #199
I guess the main thing would be making sure the type label on the cri-containerd bin is set.

[2018-01-04 21:41] cpuguy83 commented on #199
Unfortunately the process label does not appear to be set correctly:

[code]

[2018-01-04 21:42] cpuguy83 commented on #199
Note that it's just inheriting from containerd-shim (which is set with container_runtime_t)

[2018-01-04 23:38] nlacasse opened #524 "cri-containerd cannot create a pod if the runtime removes the IP from the veth device"
Some runtimes create a TAP device linked to the virtual ethernet (veth) device, and then remove the IP address from the veth device.  For example, clear containers takes this approach, as documented [here][1].

On each PodSandboxStatus request, cri-containerd runs [ocicni.GetPodNetworkStatus][2], which joins the pod's network namespace and looks for the IP address of the veth device.  If this IP h

[2018-01-04 23:50] abhi commented on #524
@nlacasse I think what you are asking here makes sense. @Random-Liu WDYT ?

[2018-01-05 01:20] Random-Liu commented on #524
Since IP of a pod is considered to be immutable, I think it's reasonable to cache the IP after create the sandbox.

However, I'm not sure that runtime should rely on this behavior or not. They are today, but we might want to find a better solution which doesn't make implication on the cri container runtime implementation detail. :)

[2018-01-05 04:52] ambiknai commented on #520
Thanks @Random-Liu. Closing this issue as my doubts are clarified now.

[2018-01-05 04:52] #520 closed

[2018-01-05 08:28] Random-Liu commented on #524
The fix for v1.0.0-beta.0 has been merged, I'll remove this issue from v1.0.0-beta.0 and keep it open.
We can revisit in the future to figure out how to handle this better.

[2018-01-05 14:45] cpuguy83 commented on #142
Would it make sense to create a new context in the defer?
Did you have something else in mind for this?

[2018-01-08 15:37] cpuguy83 commented on #199
Ok, so `initSelinuxOpts` is returning empty strings if only part of the selinux context is set... should this error out instead? Took a bit of digging to find that this was happening.

Also finding that the `container_t` type is what's causing the `invalid argument` error... if you change to `svirt_lxc_net_t` at least the kernel accepts it... but then there are more errors when runc tries to start

[2018-01-08 16:20] cpuguy83 commented on #199
Actually here's the real failure:
[code]

Removing the code that effectively disables selinux when a custom selinux context is not passed in and then subsequently passing in no selinux context (such that it uses the defaults from the selinux package) you end up with the same error.

[2018-01-08 19:44] Random-Liu commented on #509
@tkellen We added `skip-imagefs-uuid` flag, and will be included in `v1.0.0-beta.1`. If the current uuid based approach doesn't work, user could use that flag to skip that step. It should not prevent user from trying out this.

I'll close this issue. Further discussion will be carried on in the kubernetes issue kubernetes/kubernetes#57356.

[2018-01-08 19:44] #509 closed

[2018-01-08 19:46] Random-Liu commented on #399
@dhain We added `skip-imagefs-uuid` flag, and will be included in `v1.0.0-beta.1`. If the current uuid based approach doesn't work, user could use that flag to skip that step. It should not prevent user from trying out this.

I'll close this issue. Further discussion will be carried on in the kubernetes issue kubernetes/kubernetes#57356.

[2018-01-08 19:47] #399 closed

[2018-01-08 19:47] Random-Liu commented on #325
We added `skip-imagefs-uuid` flag, and will be included in `v1.0.0-beta.1`. If the current uuid based approach doesn't work, user could use that flag to skip that step. It should not prevent user from trying out this.

I'll close this issue. Further discussion will be carried on in the kubernetes issue kubernetes/kubernetes#57356.

[2018-01-08 19:47] #325 closed

[2018-01-08 20:54] tkellen commented on #509
Thanks @Random-Liu!

[2018-01-08 21:09] cpuguy83 commented on #199
Implementing the solution in https://stackoverflow.com/questions/44127247/does-anyone-know-a-workaround-for-no-new-privileges-blocking-selinux-transitions at least allows that transition.
`spc_t` is still not allowed in this case.

So it looks like the issue is that the default spec is setting `NoNewPrivileges` to true.
Here's the generated process spec:

[code]

[2018-01-08 21:10] cpuguy83 commented on #199
container-selinux needs to be updated to support no new privs.

[2018-01-08 21:24] cpuguy83 commented on #199
I can't seem to force the sandbox to not set no new privs for some reason.

[2018-01-10 04:54] Random-Liu opened #529 "Cleanup after reorg to containerd"
- [x] Rename packages from `github.com/kubernetes-incubator/cri-containerd` to `github.com/containerd/cri`. (https://github.com/containerd/cri-containerd/pull/533)
- [x] Cleanup kubernetes-incubator related document, such as README.md, CONTRIBUTING.md, code-of-conduct.md etc. @mikebrow
- [x] Change existing CI to run against new repository.
- [x] Add new boilerplate check. @mikebrow (#536)

I'll a

[2018-01-10 16:14] mikebrow commented on #529
I really like idea of moving to "cri" but for the "discussion":
1) would we be considering a "cri" package name for any of the code, say the new plugin code
2) what about the cri-containerd socket name?
3) are we concerned about potential conflicts / confusion with the kubelet/apis/cri package

[2018-01-10 16:17] crosbymichael commented on #529
I like simple, `cri` is simple ;)

[2018-01-10 19:24] Random-Liu commented on #529
@crosbymichael I also prefer the name `cri`. But on second thought, I think we may want to do the rename after we make the plugin model work.

The problem is that if we rename it now:
1) It's hard to explain in the document, such as `README.md`, because the plugin mode is not in place yet. `cri-containerd` daemon is still the only option today, and people heard about.
2) It's not yet time to send

[2018-01-10 20:02] crosbymichael commented on #529
Sounds like a good plan to me.

[2018-01-10 23:52] Random-Liu commented on #512
@vburenin Can we close this one? :)

[2018-01-11 00:01] vburenin commented on #512
I think so.

On Wed, Jan 10, 2018 at 5:52 PM, Lantao Liu <notifications@github.com>
wrote:

[2018-01-11 00:04] #512 closed

[2018-01-11 04:23] Random-Liu opened #534 "Update crictl version and use `crictl pods` instead of `crictl sandboxes`."
Update crictl to carry this fix https://github.com/kubernetes-incubator/cri-tools/pull/222, and update our document and scripts to use `crictl pods` instead of `crictl sandboxes`.

[2018-01-12 01:34] Random-Liu opened #539 "Setup CNCF CLA"

[2018-01-12 01:38] mikebrow opened #540 "Modify CI to use vendor.conf vs hack/versions"
We should pull versions from vendor.conf where possible instead of from hack/versions. Doing so will allow us to remove all but one of the components in hack/versions. Additionally, we will no longer have to keep the two files in sync.

[2018-01-12 01:39] caniszczyk commented on #539
Since this is part of containerd this isn’t required anymore, ALv2+DCO are
fine

On Thu, Jan 11, 2018 at 3:34 PM Lantao Liu <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-01-12 01:44] Random-Liu commented on #539
@caniszczyk OK. That's why I want to file the issue first. :)

Thanks!

[2018-01-12 01:44] #539 closed

[2018-01-12 18:48] Random-Liu opened #542 "Shorten and Add Node E2E back to travis"
Currently, node e2e frequently exceeds the 50min travis timeout, thus we removed it now.

However, it's good to run node e2e in various environment. We can probably split the test into 2 parts and run them in parallel in different test run.

[2018-01-15 20:38] tkellen opened #545 "Is restarting cri-containerd after configuring container networking required?"
First, thank you for cri-containerd. I've been using it a lot lately and it works wonderfully!

I'm experiencing an issue related to bootstrapping a cluster that I am hoping you all can help with.

If I don't restart cri-containerd after deploying my container networking pods, any pod not connected to the host network fails to start.

I have a full example process, including the cri-containerd res

[2018-01-15 20:40] tkellen commented on #545
I've posted this over on the kube-router repo because I'm unclear if this is an issue with cri-containerd or kube-router (or neither, maybe it's just me!). Here's the link:
https://github.com/cloudnativelabs/kube-router/issues/286

[2018-01-15 21:51] mikebrow commented on #545
CNI config is static, and maybe you are configuring it late in the process thus requiring a reboot to load the newly changed config?

[2018-01-15 22:15] tkellen commented on #545
Yes, when kube-router starts it alters the configuration in `/etc/cni/net.d/10-kuberouter` on each node to take on the correct CIDR.

[2018-01-15 23:34] Random-Liu commented on #545
Based on the code, CNI should be updated with latest configure. If it doesn't work, it might be a bug.
However, @tkellen will you change CIDR when there are already non-hostnetwork pods running? Won't that confuse CNI?

[2018-01-16 04:19] tkellen commented on #545
@Random-Liu This is a weird state I am encountering during cluster bootstrapping only. I do not intend to change the CIDR, I want to make sure things are configured correctly before I start any (non-network-host) pods.

Can you help me understand what you mean by this?

[2018-01-16 04:24] abhi commented on #545
@Random-Liu This is a similar issue I have encountered with the cni stuff that I discussed with you last week. @tkellen I think restarting containerd might trigger a restart of cri-containerd (because of watch on cri-containerd @Random-Liu correct me if I am wrong here) So that might be the reason why things might start to work after reloading containerd. Feel free to open a bug and I can take a l

[2018-01-16 04:44] tkellen commented on #545
Thanks for following up @abhi! I've just confirmed restarting `cri-containerd` resolves the issue also. Where should I open a bug?

[2018-01-16 04:47] tkellen commented on #545
Heads up I've just edited my prior posts (and the title of this issue) to reference restarting cri-containerd so future readers aren't sent on a wild goose chase. Also, here are my logs for cri-containerd from failure to success:
[code]

[2018-01-16 05:04] tkellen commented on #545
Let me also share the contents of `/etc/cni/net.d/10-kuberouter.conf` before and after kube-router is started. I'm candidly a bit out of my depth here so apologies if this is noise.

Placed on the host during cluster bootstrapping:
[code]

...how kube-router modifies it during startup (just adding the subnet):
[code]

[2018-01-17 09:32] Random-Liu opened #548 "Add `trace` level support in containerd."
logrus doesn't support `trace` level. However, in general it's useful:

https://github.com/sirupsen/logrus/issues/463#issuecomment-358133268

In https://github.com/containerd/cri-containerd/pull/547, we added the `trace` level in our own log package.

However, since in the future, we'll use the log context containerd passes to us, we may want to support `trace` in containerd, too.

[2018-01-17 09:38] Random-Liu opened #549 "How to handle packages using glog."
We switched cri-containerd to use `logrus` instead of `glog` in https://github.com/containerd/cri-containerd/pull/547.

However, some of our kubernetes package dependencies are still using glog, e.g. streaming server.
It's hard to update kubernetes packages to use logrus, so we have to tolerant it anyway.

There are 2 options:
1) Do not handle it, just let glog logs to default files. The problem i

[2018-01-17 09:42] Random-Liu opened #550 "Use containerd plugin log context."
We switched cri-containerd to use logrus instead of glog in #547.

However, we are not using the plugin log context containerd passed to us.

We should use `containerd/log` package and make use that log context, so that there will be proper metadata in our log entry:
[code]

[2018-01-17 14:29] crosbymichael commented on #549
I think since we use `cli` and not go flags we could set the go flag in code, `flag.Set(name, value)` so it sends to stderr and the go flags will not show up in the `cli` output

[2018-01-17 17:26] dnephin commented on #549
`glog` seems to violate a lot of the rules for good library design (setting flags from init outside of `main`, and not supporting any way to configure settings other than those flags).

Settings those from `flag.Set()` seems like a good short term solution.

For a more long term solution, do you think the packages that currently use glog would accept a PR which removes the dependency and replaces

[2018-01-17 18:33] Random-Liu commented on #550
@stevvooe @crosbymichael For grpc context, it seems that we need to integrate with the [`interceptor`](https://github.com/containerd/containerd/blob/master/server/server.go#L238).

Do we want to change the code directly after containerd vendors cri-containerd?
Or do we want that also to be pluggable?

[2018-01-17 19:14] Random-Liu opened #551 "New cri-containerd after reorg is not compatible with the old one."
In cri-containerd, we use `containerd/typeurl` for the extra metadata we stored in container extension.
Previously the typeurl was `github.com/kubernetes-incubator/cri-containerd/pkg/store/sandbox`.
Now the typeurl is changed to `github.com/containerd/cri-containerd/pkg/store/sandbox`.

Given that cri-containerd is still beta, and Kubernetes doesn't support in-place upgrade today, it might be fine

[2018-01-17 19:28] Random-Liu commented on #549
@crosbymichael @dnephin Thanks for the suggestion. I use `flag.Set()` in https://github.com/containerd/cri-containerd/pull/547 to set glog options based on `log-level` flag.

There are several Kubernetes packages we are relying on, I don't think it's easy to update them all. At least it's hard to justify in upstream. :(

I think using `flag.Set` is good enough for now. :) Thanks for the good sugge

[2018-01-17 20:07] tkellen commented on #545
@abhi Is there anything else I can provide that would be useful here? You mentioned having me open a bug but I'm not sure where to do that.

[2018-01-17 23:18] stevvooe commented on #550
#2019 should help here by removing the problem. ;)

[2018-01-18 03:34] Random-Liu opened #553 "Use `github.com/pkg/errors` package"
We should make our error message consistent with containerd.
We should use `github.com/pkg/errors`.

[2018-01-18 03:35] Random-Liu commented on #549
Close this one, since `flag.Set` can solve this problem.

[2018-01-18 03:35] #549 closed

[2018-01-19 02:48] Random-Liu commented on #550
Since https://github.com/containerd/containerd/pull/2019 is merged, we don't need to care about this anymore.

Close.

[2018-01-19 02:48] #550 closed

[2018-01-19 17:06] kumudkhk opened #559 "use of insecure registry"
In Docker, we were able to pull images from our private repo by including --insecure-registry option. I am not able to find any information in option to use insecure registry. Is it possible with containerd?

[2018-01-19 17:09] abhi commented on #559
@kumudkhk we are working on a registry option and should be in shortly. Please try it out and let us know what you think.

[2018-01-19 18:05] kumudkhk commented on #559
Thanks @abhi. Good to know that registry option is being worked on. Anytime frame on when it might be released?

[2018-01-19 22:59] Random-Liu commented on #545
@tkellen I mean our cni package uses fsnotify to watch cni config directory. If `kube-router` changes it, cni should pick up the latest configuration. If that doesn't work, we may want to take a look what is wrong.  @abhi Do you want to take a look at this? :)

[2018-01-20 01:49] darstahl opened #560 "Building for Windows"
As [containerd windows support is incomming](https://github.com/containerd/containerd/pull/1969) we should start looking forward to get cri-containerd to use this. The first step is to get it to build on Windows. Based on a quick view through the code, I don't see any major blockers, but a number of libraries used do not build on Windows, and would the code needs to be refactored such that these a

[2018-01-22 09:08] ambiknai opened #562 "kubectl exec not working as expected while using cri-containerd"
[code]

I have deployed a cluster using ansible on vagrant machines.

[code]
I created a simple pod and this lands on the node which has cri-containerd configured

[code]

kubectl exec is throwing below error

[code]

For pods landed on the node which has docker configured, exec seems to work fine.

[code]

[2018-01-22 18:27] Random-Liu commented on #562
@ambiknai Can you check 2 things?

1) Can you ping `10.0.2.15` from your master?
2) Can you `netstat -l` on the cri-containerd node to see whether 10010 is open?

It seems that either your master node can't talk with that node, or cri-containerd is not serving on 10010 properly.

[2018-01-22 23:34] Random-Liu commented on #551
Another thing needs attention is that cri plugin root directory is `/var/lib/containerd/io.containerd.grpc.v1.cri`, which is different from cri-containerd `/var/lib/cri-containerd`.

This is also a non-backward compatible change, which we may want to document.

[2018-01-23 02:51] Random-Liu opened #565 "Use containerd plugin graceful stop."
Ref https://github.com/containerd/containerd/issues/2043.

[2018-01-23 04:50] ambiknai commented on #562
[code]

[code]

[2018-01-23 04:51] abhi opened #566 "Evaluate the need to disable IPv6 DAD in cri-containerd"
containerd/cri-containerd#563 provides a knob to enable DAD on pod network interfaces and turns off the DAD for the pod by default. This is done to speed up the pod creation. If DAD is enabled , the interface binding is delayed until NS messages guaranteed no duplicate IPv6 addresses in the cluster. As explained here https://github.com/containerd/cri-containerd/pull/563#issuecomment-359618326,  we

[2018-01-23 07:52] Random-Liu commented on #562
@ambiknai Hm, that's weird.

Can you ssh onto that node and try `crictl exec`?

[2018-01-23 09:02] ambiknai commented on #562
[code]
[code]
[code]

[2018-01-23 11:48] ijc commented on #236
The one I've tripped over is the need to pass `--cri-socket` to `init` since the default is `/var/run/dockershim.sock`. Not sure if it can sensibly be autodetected.

Looks like `kubeadm` tries to detect the use of CRI in general by checking if `crictl` is in `$PATH`, but that doesn't help with finding the socket.

[2018-01-23 11:57] ijc commented on #545
There are debug prints for every event from the watcher (logged as `logrus.Debugf`) so with debugging turned up @tkellen ought to be abkle to see those happening whenever something is changed in the `pluginDir` (default is `/etc/cni/net.d`).

A long time ago I think I observed that if `/etc/cni/net.d` didn't already exist when the watcher was started then the watcher did not initialise correctly.

[2018-01-23 12:10] ijc commented on #545
No, looks like there is an explicit check and error for that case these days.

[2018-01-24 00:24] #565 closed

[2018-01-24 00:36] Random-Liu opened #568 "Potential NetNS leakage"
When looking at the code today, I find a corner case that may leak network namespace.
When start pod sandbox, we:
1) Create and initialize sandbox network namespace.
2) Create container metadata for sandbox container.
3) Create task for sandbox container.
4) Start task.
5) Add the sandbox into our in-memory cache.

When recover state during restart, we:
1) List all sandbox container metadatas from

[2018-01-24 01:59] Random-Liu opened #569 "Do not poll for container stop."
Currently, during container stop, we poll every 0.1s to see whether a container is stopped.

When we stop a batch of containers, this may consume extra CPU.

We should add a channel `stopCh` for this in container metadata. Let event monitor close the channel, and stop function only need to wait for the channel.

@yanxuean @miaoyq

[2018-01-24 05:54] ambiknai commented on #562
@Random-Liu ifconfig details are as below. Not sure if this would be helpful
[code]
eth0 is NAT net

[2018-01-24 10:43] ambiknai commented on #562
@Random-Liu  Thanks for the help.
Finally I am able to resolve the issue. On my Vagrant setup `eth0` is configured for NAT.
I reconfigured CRI-Containerd to listen over `192.168.10.5:10011` and `kubectl exec` worked.

[2018-01-24 10:43] #562 closed

[2018-01-24 23:19] Random-Liu commented on #434
@yanxuean @miaoyq We also need to do this. Given that `list` is expensive, I prefer we choose proposal 2.

[2018-01-25 00:47] yanxuean commented on #434
As the cri-container has been a plugin of containerd,  The rely on containerd event is reliable.

[2018-01-25 00:48] yanxuean commented on #434
The proposal 2 is good.

[2018-01-25 00:48] Random-Liu commented on #434
Agree.

@yanxuean Thanks! I'll assign this to you 2. :P

[2018-01-25 02:16] Random-Liu commented on #562
@ambiknai Thanks! :) Yeah, you can configure cri-containerd to pick which ip address to listen on.

[2018-01-25 18:27] #569 closed

[2018-01-25 22:59] Random-Liu opened #573 "Several issues we need to fix in ocicni."
1) `ocicni` assumes that cni network configuration directory must exist before start, because it uses fsnotify monitoring that directory. This means that containerd+cri start may fail if there is no such directory, which is unacceptable, and causes some troubles during bootstrapping.
2) The fsnotify of `ocicni` doesn't actually work. See https://github.com/containerd/cri-containerd/issues/545.

We

[2018-01-25 23:01] Random-Liu commented on #573
/cc @abhi

[2018-01-25 23:06] Random-Liu commented on #436
Haven't seen this for a long time. Close for now.

[2018-01-25 23:06] #436 closed

[2018-01-25 23:07] Random-Liu commented on #416
I think based on current plan, we are going to ship cri-containerd with containerd.

Given so, can we close this issue?

[2018-01-25 23:07] Random-Liu commented on #385
This is done in #502. Close

[2018-01-25 23:07] #385 closed

[2018-01-25 23:09] Random-Liu commented on #162
Done. Close this one.

[2018-01-25 23:09] #162 closed

[2018-01-25 23:10] Random-Liu commented on #239
I think this has been fixed. See https://github.com/containerd/containerd/issues/1545

[2018-01-25 23:10] #239 closed

[2018-01-25 23:11] Random-Liu commented on #310
Haven't seen this for a long time. Close.

[2018-01-25 23:11] #310 closed

[2018-01-25 23:14] Random-Liu commented on #560
@darrenstahlmsft Thanks for filing the issue. :)

We'd like to help making cri-containerd work on Windows. It may not be a priority this quarter, but it will be high priority very soon I believe.

[2018-01-25 23:34] jcvenegas opened #574 "Allow define runtime for host privileged operations"
### Problem statement ###

Some CRI compatible runtimes may not support provileged
operations. Specifically hypervisor based runtimes  (like kata-containers,
cc-runtime and runv) do not support privileged operations like:

- Provide access to the host namespaces
- Create fully privileged containers with access to  host devices.

Hypervisor based runtimes create  container workloads within virtual

[2018-01-25 23:34] jcvenegas commented on #574
@sameo ping

[2018-01-26 19:08] Random-Liu commented on #573
@ijc Thanks for offering help! Assigned to you.

[2018-01-29 11:13] ijc commented on #545
It seems that `ocicni` only watches with `fsnotify` until it has what it considers a suitable/usable default configuration as a one shot operation, it does not watch for subsequent updates such as the ones done by `kube-router` as reported here. Since that config is then written to the plugins `stdin` (rather than reread from disk) we end up passing the original/incomplete configuration. I'll look

[2018-01-29 11:13] ijc commented on #573
1. is an easy fix with a strategically placed `os.MkdirAll`, I'll make a PR for that.
2. Is a bit more complex, will discuss on #545.

[2018-01-29 11:32] ijc commented on #545
This is not quite accurate. If there is no configuration present during `InitCNI` then it will watch for one arriving and then continue to watch (and I think correctly pickup updates). _However_ if there is a valid configuration present during `InitCNI` then the watcher is never started.

[2018-01-29 12:15] ijc commented on #545
https://github.com/cri-o/ocicni/pull/13 is my fix for this, once it is merged I'll PR in an update here.

[2018-01-29 12:22] ijc commented on #545
I've put this and another fix related to this and #573 in [my `cni-fsnotify` branch](https://github.com/ijc/cri-containerd/tree/cni-fsnotify) while we wait for that ocicni PR.

[2018-01-29 16:51] sameo commented on #574
@Random-Liu @mikebrow @abhi Any comments on that one? We'd like to move forward with the implementation part if that somehow sounds reasonable.

[2018-01-31 19:41] tkellen commented on #545
Thank you @ijc! If you'd be willing to give me a bit of guidance about how I could test this I'd be glad to verify if this fixes the issue. If that seems like too much work I'll keep my eyes open for the next release that includes these changes and report my findings then.

[2018-01-31 21:14] Random-Liu commented on #351
Close this one since https://github.com/containerd/cri-containerd/pull/531 is merged.

[2018-01-31 21:14] #351 closed

[2018-02-01 00:56] mikebrow commented on #574
Thinking it over...

[2018-02-01 03:35] valentin2105 opened #580 "Cri-Containerd and IPv6"
Hi,

I have tried to deploy a IPv6-only cluster using cri-containerd, but I was not able to make it work,

It work at glances using Docker but I really would like to migrate that to cri-containerd.

Here is the log that get droped :

[code]

I have no more investigations to find what happend ...
Any idea ?

[2018-02-01 09:02] Random-Liu commented on #580
@valentin2105 What CNI network plugin are you using? Actually cri-containerd only creates the network namespace. And actual network setting is handled by cni plugins.

[2018-02-01 09:08] Random-Liu commented on #580
I see. The issue is in ocicni. https://github.com/cri-o/ocicni/blob/master/pkg/ocicni/ocicni.go#L345

It only tries to get `-4` ipv4 address.
However, cni in Kubernetes also tries `-6` https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/plugins.go#L290.

[2018-02-01 09:17] Random-Liu commented on #580
@valentin2105 I sent out a fix in https://github.com/cri-o/ocicni/pull/16. And will update vendor after it is merged.

[2018-02-01 09:23] Random-Liu commented on #573
@ijc Yeah, I'm fine with `MkdirAll` in either cri-containerd or ocicni.

[2018-02-01 09:41] valentin2105 commented on #580
@Random-Liu  I use Calico as CNI provider who work well using Docker.
I have tried the latest release of cri-containerd (`cri-containerd v1.0.0-beta.1 release`)
Thanks for your work, really looking forward put these dope in production !

As I understanded Cri-o doesn't support IPv6 too ? (because you send the link from cri-o)

Thanks !

[2018-02-01 09:52] Random-Liu commented on #580
@valentin2105 We all use that package. And yeah, I think so.

[2018-02-01 11:30] ijc commented on #545
@tkellen In your usual `cri-containerd` git tree it should be enough to do `git pull https://github.com/ijc/cri-containerd cni-fsnotify` which should fetch and merge my WIP branch into your current branch.

Or you could do:
[code]
To checkout exactly my branch into a new local branch called `testing-ijc-thing` (naming is hard...).

[2018-02-02 03:28] Random-Liu opened #587 "Optimize cadvisor integration."
The PR https://github.com/google/cadvisor/pull/1795 doubles kubelet RSS memory when managing 105 pods.

With it turned on, kubelet RSS memory is 124.38MB.
With it turned off, kubelet RSS memory is 48.16MB.

By pprof, we see that most of the overhead comes from grpc communication with containerd. So the goal is to minimize containerd access.

Kubelet pprof when working with standalone cri-container

[2018-02-02 08:15] Random-Liu commented on #573
@ijc I sent https://github.com/containerd/cri-containerd/pull/589, because we need that fix for the plugin mode. :)

[2018-02-02 18:42] Random-Liu opened #590 "Add `ctr cri` and retire `ctrcri`"
We added `ctrcri` binary in https://github.com/containerd/cri-containerd/pull/586 as a supplement of `crictl` for cri-containerd. Especially for loading image.

After cri-containerd is vendored into containerd, we may want to merge this command into `ctr` as well. A subcommand in `ctr` seems a good option.

[2018-02-02 20:30] #580 closed

[2018-02-02 21:19] #573 closed

[2018-02-02 23:59] mikebrow commented on #416
Closing as a duplicate to https://github.com/containerd/containerd/issues/1508

[2018-02-02 23:59] #416 closed

[2018-02-03 00:11] mataneja commented on #416
Yes, this should be fine!

[2018-02-03 02:00] wangpung12 commented on #434
ดี

[2018-02-03 02:22] valentin2105 commented on #580
Thanks for your support, I will try that soon ;)

[2018-02-03 02:29] Random-Liu commented on #580
@valentin2105 BTW, we disabled the IPv6 DAD by default because it slows down pod creation a lot. You may want to enable it if you need it `--enable-ipv6-dad`.

[2018-02-03 02:30] valentin2105 commented on #580
Great !!

[2018-02-04 18:45] dnephin opened #594 "Plugin-only cri-containerd"
This issue is in reference to https://github.com/containerd/containerd/pull/1615#issuecomment-362764604, also https://github.com/containerd/containerd/pull/2096#issuecomment-362759770 and https://github.com/containerd/cri-containerd/pull/523#issuecomment-362927189

I'm opening this issue because I couldn't find an existing issue and I want to comment without distracting from the primary topic in c

[2018-02-04 18:57] dnephin commented on #594
Would something like this work:

* `git clone containerd` (separate from vendor)
* `rm -rf containerd/vendor/github.com/containerd/cri-containerd`
* `go build` containerd so that it includes the version of cri-containerd to test

[2018-02-04 20:16] Random-Liu commented on #594
The problem is that we may update other dependencies in `cri-containerd`. Then we need to figure out:
1) If the dependency is introduced by containerd, we'd better keep it the same with containerd, or else it may not compile.
2) If the dependency is only introduced by cri-containerd, we might need to do something similar with https://github.com/containerd/cri-containerd/issues/594#issuecomment-362

[2018-02-05 16:09] jessfraz commented on #574
Right now, cri-o is doing it as an annotation is that okay as a stop gap so this is not blocked by the spec politics?

[2018-02-05 16:49] dnephin commented on #594
CI will tell us if there are dependencies with backwards incompatible changes. Trying to preemptively sync vendor directories is not necessary.

Not sure what you mean. Why would you need to do anything special in this case?

[2018-02-05 18:39] Random-Liu commented on #594
@dnephin See https://github.com/containerd/cri-containerd/pull/523#issuecomment-363177501.

[2018-02-05 18:58] Random-Liu commented on #574
@jcvenegas I think this is doable, but I'm not sure whether this matches our long term go, e.g. should this be done at kubelet level or container runtime level? e.g. maybe kubelet could support both frakti and cri-containerd, and use cri-containerd for host containers and frakti for vm containers?

@tallclair should have more opinion on this issue?

[2018-02-05 19:01] tallclair commented on #574
I'm OK moving forward with this as an experimental feature, as long as it's clear the long term API might change. I'd suggest adding "experimental" into the flag names to that end.

Open questions that still need to be resolved:

1. Should the runtime decision be pushed down into the CRI implementation, or decided by the Kubelet? I.e. should cri-containerd support multiple backends at the OCI laye

[2018-02-05 23:55] resouer commented on #574
I was exactly thinking of annotation in cri-containerd side and been talked with @Random-Liu for several times and even sent out a GSoC topic for that >_<.

but I admit @mikebrow 's suggestion here do make sense

Why not create a open evaluation of integration solutions of hypervisor runtime which hopes to align with sig-node's long term goal. I know @laijs from Kata is eager to draft the doc.

[2018-02-06 01:43] Random-Liu opened #597 "Support shared pid namespace"
We should support shared pid namespace after https://github.com/kubernetes/kubernetes/pull/58716 lands.

[2018-02-06 01:48] Random-Liu commented on #217
Remove this from the milestone. It is not top priority now.

[2018-02-06 08:33] verb commented on #597
FYI, kubernetes/kubernetes#58973 is probably the more interesting one for cri-containerd. That one will unblock supporting shared pid in the runtimes.

[2018-02-07 01:22] Random-Liu commented on #548
Close.

[2018-02-07 01:23] #548 closed

[2018-02-07 01:34] Random-Liu commented on #597
@verb Thanks! I'll update cri-containerd side once the CRI change is merged.

[2018-02-07 09:13] miaoyq commented on #587
Cadvisor create a containerd client for echo containerd container handler, that will use a lot of memory when we create a large number of containers via containerd. It's real reason of make kubelet consume  amounts of memory.

I have sent a PR google/cadvisor#1886 to fix this issue.

After this changing, the memory usage of kubelet drop from `124.89M` to `52.06M` when managing 105 pods, that is th

[2018-02-07 09:37] sameo commented on #574
@tallclair My 2 cents:

1. I'd prefer for the decision to be passed down to the CRI implementation. It seems like having the kubelet being able to support more than one CRI implementations is a lot more complex and to some extent a waste of resources.

2. I agree the API needs to be explicit, but otoh we don't want to allow for incompatible pod descriptions. Let's say we add a `secure` boolean or

[2018-02-07 19:41] Random-Liu commented on #587
@miaoyq This is nice! :+1:

[2018-02-07 23:05] tallclair commented on #574
Counter point: if we implement it in the Kubelet, then we only need to do the work once. If it's passed to the CRI, then every runtime needs to add the complexity. It also makes it easier to mix & match runtime combinations, whereas pushing it to the CRI means the user is bound by the decisions that implementation makes.

namespace_options yes, but `privileged` just means no seccomp / apparmor / S

[2018-02-08 02:58] Random-Liu commented on #534
Fixed in #602

[2018-02-08 02:58] #534 closed

[2018-02-08 03:06] mikebrow commented on #534
and also fixed in #603

[2018-02-08 06:12] #597 closed

[2018-02-08 09:50] sameo commented on #574
True. There are pros and cons for each option, and the code/implementation duplication is definitely one for the single runtime case. IMHO the multiple runtimes solutions has several drawbacks:

* Resource utilization. We're already seeing the CRI implementations/servers CPU and memory consumption being non negligible. Supporting multiple CRI server instances per node might become problematic.

*

[2018-02-08 21:37] #540 closed

[2018-02-09 09:12] Random-Liu commented on #587
The PR https://github.com/google/cadvisor/pull/1886 is merged.
<img width="1265" alt="screen shot 2018-02-09 at 1 11 31 am" src="https://user-images.githubusercontent.com/5821883/36020088-4f239df4-0d36-11e8-9b52-f942865bacfe.png">

[2018-02-09 09:13] #587 closed

[2018-02-09 19:11] abhi commented on #566
The release notes of cni plugin version 0.7.0-rc2 says that DAD can be can be disabled.
https://github.com/containernetworking/plugins/releases
Once we update it we can remove the explicit dad disable in cri-containerd and bench mark it .

[2018-02-13 12:53] hgfischer opened #610 "OAuth and Private Docker Registry"
Hello,

I did setup a Kubernetes v1.9.3 cluster with v1.0.0-beta.1 release of cri-containerd and it seemed to work perfectly until I tried to use a private docker registry using JFrog Artifactory SaaS (https://www.jfrog.com/confluence/display/RTF/Docker+Registry).

It seems that cri-containerd is not sending HTTP Basic authentication while getting the OAuth token, and this is making it get HTTP 40

[2018-02-13 12:54] hgfischer commented on #610
Also, I noticed there are many commits on the master branch that changes the authentication mechanisms and I was trying to test this build against my cluster, but it does not work. Kubelet complains of the new cri-containerd with the error bellow:

[code]

Is it because the master branch is not compatible with the latest 1.9.3 release of Kubernetes (kubelet)? Can I easily fix this?

[2018-02-13 16:55] hgfischer commented on #610
Just noticed that there is some incompatibility of `containerd` with `bearer` authentication on JFrog Docker Registry. I already reported the error to JFrog, with an example of a `curl` command to test the same request `cri-containerd` is doing. Forcing basic authentication works.

Are there any plans to fallback to other authentication methods when one doesn't work? For example, fall back to basi

[2018-02-13 20:58] Random-Liu commented on #610
@abhi Can you take a look at this?

HEAD will not be compatible with Kubernetes 1.9. CRI has been changed from `v1alpha1` to `v1alpha2`, which is a breaking change. We'll start guarantee backward compatibility when CRI is beta.
Before that each container runtime version will bind to a specific Kubernetes version.

[2018-02-13 21:07] abhi commented on #610
@Random-Liu sure will take a look

[2018-02-13 22:07] hgfischer commented on #610
I've debugged this issue a bit more and it seems to be some sort of incompatibility with the `/v2/token` endpoint of Artifactory's Docker Registry. I could not figure out what is wrong, but the endpoint always return HTTP 401 even thou the credentials are correct.

Then I patched the vendorized containerd inside cri-containerd to fallback to HTTP auth if getting a token fails and if there is usern

[2018-02-13 22:57] abhi commented on #610
@hgfischer can you share the http capture of the failure ?

[2018-02-14 08:50] hgfischer commented on #610
@abhi Yes, but redacted. The following is the reproduced request that I got while debugging `cri-containerd`:

[code]
Response (redacted):

[code]

The following is the patch I did to work around the issue by falling back to HTTP Basic Auth when getting Oauth Token fails:

[code]

[2018-02-14 15:02] lachlanmunro opened #613 "Consider allowing ownership of container log files by config"
On debian for example, it is common for log files to have the group `adm`. This allows us to run our logging agents as non-root.

I have tried using something like:

[code]

But since the logs are stored within the structure `/var/log/pods/<idhere>/<log>` this approach only works for containers running at that time. I could cron/something else but such an approach feels pretty hacky.

I did a litt

[2018-02-14 19:26] Random-Liu commented on #613
The directory `/var/log/pods/<idhere>/` is created by kubelet.
The log file `<log>` is created by cri-containerd.

Which one do you need to set the permission?

[2018-02-15 10:18] lachlanmunro commented on #613
I can use a sticky bit for the `/var/log/pods/` folder to set the right groups on the `<idhere>` folder. That's fine, I can work around that easily (and given the folder permissions, I don't need to).

```drwxr-sr-x 2 root adm 4096 Feb 13 19:28 ea7414ae-10f3-11e8-b3ac-0022156cfc6a```

Its the log files themselves that require root to be read:

```-rw-r-S--- 1 root root 86567 Feb 14 15:59 speaker_0

[2018-02-16 21:06] Random-Liu commented on #613
We set `0640` because docker is doing so today https://github.com/moby/moby/blob/master/daemon/logger/loggerutils/logfile.go#L40.

@lachlanmunro How do you solve the problem for Docker? Do you have a solution for Docker already?

I'm fine with making this configurable, but I'd like to see whether there is any other solution. :)

[2018-02-16 23:26] Random-Liu commented on #144
golang 1.10 is released, golang/go#20676 should have been fixed.

We can get rid of `nsenter` and `socat` after switch to golang 1.10.

[2018-02-18 16:31] AkihiroSuda commented on #462
@yanxuean @Random-Liu
Any update? 😃

[2018-02-19 10:16] lachlanmunro commented on #613
Within docker we "solve" this by running our logging agents (fluentd/logstash etc) as root. This is not really a solution, and we would prefer not to do this.

The file permissions are fine. `0640` is perfectly reasonable for a logfile. The problem for our usecase is that the logs are entirely owned by root. Other logs (often from [rsyslog: fileGroup/fileGroupNum](https://www.rsyslog.com/doc/v8-st

[2018-02-19 12:30] t3hmrman opened #614 "Can't build v1.0.0-beta.1 locally"
While attempting to debug a crash (`crictl ps` will work, `crictl pull busybox` will cause cri-continerd to panic), I tried to install and build `v1.0.0-beta.1`, since that's the version I had the problem on.

While initially I built `cri-containerd` off of master, and it actually worked fine (+ `seccomp` and `selinux` tags), I realized I was on master and tried to go back and build v`1.0.0-beta.1

[2018-02-19 12:44] t3hmrman commented on #614
A follow up question (I don't think it's worth it's own ticket) -- Does `cri-containerd` *require* a custom build if `seccomp`and `apparmor` are enabled? The problem I was having just went away with a custom build, but the pre-packaged binary had the panic I was trying to debug earlier

For context, I'm running Kubernetes v1.9.2 by way of the kubernetes the hard way guide, on an Arch Linux box ([`

[2018-02-19 17:30] mikebrow commented on #614
On master, we are in the middle of migrating from github.com/kubernetes-incubator/cri-containerd to github.com/containerd/cri-containerd and we retained git history.  Thus when you went back in time to before the start of the migration effort you necessitated that your source be github.com/kubernetes-incubator/cri-containerd based.  For me, I have an old git tree in my $GOPATH/src/github.com/kuber

[2018-02-20 15:52] t3hmrman commented on #614
Thanks for letting me know @mikebrow , I suspected it might be something like that.
Sorry for the interruption!

[2018-02-20 15:52] #614 closed

[2018-02-20 19:55] Random-Liu commented on #462
@AkihiroSuda We punt this for now, because after CRI support is merged into containerd, this will be much simpler.

[2018-02-21 03:13] Random-Liu commented on #15
@mikebrow Do you think we can close this one? We've done so much without repo-infra. :)

[2018-02-21 03:14] Random-Liu commented on #103
I believe we've got enough test coverage today. Cluster e2e, node e2e, integration test and unit test. It is fine not to add this back. :)

[2018-02-21 03:14] #103 closed

[2018-02-21 03:17] Random-Liu commented on #236
I think this has been fixed. https://github.com/kubernetes/kubernetes/blob/1e8f40f42ba789e7a453764ea8115ed8859af91e/cmd/kubeadm/app/cmd/reset.go

kubeadm is using `crictl` today.

[2018-02-21 03:17] #236 closed

[2018-02-21 03:19] Random-Liu commented on #20
As is mentioned in https://github.com/containerd/cri-containerd/issues/103. I think we have enough test coverage today.

We can add more integration test instead of adding fake service.

[2018-02-21 03:19] #20 closed

[2018-02-21 19:06] mikebrow commented on #15
Let's leave it open for now I'll investigate.   I need to sync our fixes back to repo infra first though :-)

[2018-02-21 23:01] dmcgowan commented on #610
This looks like a problem with the JFrog implementation, the POST body is not being properly handled. My guess is that it is being treated the same as a GET request. A properly implemented token server should handle the POST request or return 405.

This has a more general effect on pulling, closing this in favor of https://github.com/containerd/containerd/issues/2148

[2018-02-21 23:01] #610 closed

[2018-02-23 08:20] harche opened #619 "Version from runtime service failed"
I am getting following error while trying to integrate cri-containerd in k8s.

[code]

[code]
[code]

[2018-02-24 00:51] Random-Liu commented on #619
CRI is still alpha, so we may still make non-backward compatible change.
We made a breaking change in CRI in Kubernetes 1.10, and CRI version is updated to v1alpha2.

It means that:
1.0.0-beta.1 will only work with Kubernetes <=1.9.x;
Current cri-containerd HEAD will only work with Kubernetes >=1.10.x.

So I believe you are trying Kubernetes 1.9.1 with cri-containerd HEAD, that's why it doesn't wo

[2018-02-24 00:52] Random-Liu commented on #619
Mark this v1.0.0-rc.0.

We should document that cri-containerd 1.0.0-rc.0 supports CRI v1alpha2, and it only works with Kubernetes 1.10.

[2018-02-27 07:53] harche opened #623 "Multiple runtimes support"
Hi,

Does CRI-Containerd support multiple OCI runtimes support like [CRI-O](https://github.com/kubernetes-incubator/cri-o/blob/6faef132934e84fb8c1427f9c7415a60de519321/cmd/crio/config.go#L57)?

If it doesn't I can rename this issue to RFC and we can discuss how can be have it in CRI-Containerd.

[2018-02-27 07:58] harche opened #624 "Signed container image support"
Hi,

Does cri-containerd support signed container image schemes (like docker content trust, or [Simple GPG based signing](https://rhelblog.redhat.com/2016/07/22/container-image-signing/)?

This is very critical for the security sensitive environments.

If this is not there yet, I can rename this issue to RFC and we can discuss how can we implement it in cri-containerd.

[2018-02-27 17:40] mikebrow commented on #623
You can try it out see the "--containerd-runtime-engine" option. "runc" is the default... Any particular runc alternatives you are thinking about?

[2018-02-27 17:41] mikebrow commented on #623
If you do and have problems, report and I'll take a look.  Cheers!

[2018-02-27 18:27] Random-Liu commented on #623
@harche What do you mean by `support multiple OCI runtimes`?

If you are talking about running cri-containerd/containerd with a different OCI runtime, you can use the flag mentioned by @mikebrow.

If you want to run cri-containerd/containerd with multiple different OCI runtimes at a time, we don't support it for now. The main reason is that Kubernetes and CRI hasn't defined this kind of thing. :)

[2018-02-27 19:22] Random-Liu commented on #613
It is fine to only have linux implementation for now. We are going to support other OS, especially Windows later.

However, we may want to make the flag a string, so that we can extend it for Windows later. Probably `uid:gid` which follows linux convention.

Both [`rsyslog`](https://www.rsyslog.com/doc/v8-stable/configuration/modules/omfile.html) and [`logrotate`](https://linux.die.net/man/8/logro

[2018-02-27 22:10] mikebrow opened #626 "Containerd drops support for golang 1.9.x"
See https://github.com/containerd/containerd/pull/2162

They have pulled in a golang 1.10 library.. so now need 1.10 to build.

[2018-02-28 03:15] Random-Liu commented on #626
Let's do the same. :)

[2018-02-28 04:08] Random-Liu opened #627 "Use containerd event exchange"
For plugin mode, we should use containerd event exchange https://github.com/containerd/containerd/blob/129167132c5e0dbd1b031badae201a432d1bd681/plugin/context.go#L36 to get rid of one extra layer of grpc, which makes the event handling more reliable.

[2018-02-28 08:52] Random-Liu commented on #627
Ref https://github.com/containerd/containerd/issues/2120

[2018-02-28 15:13] crosbymichael commented on #627
+1  All of the grpcs should be switched over to internal APIs before we can do a 1.1 release with CRI

[2018-02-28 21:21] Random-Liu commented on #626
Let's close this issue after containerd build in Kubernetes test infra is also switched to golang 1.10.

[2018-03-01 03:42] Random-Liu commented on #626
We can close this now. We've changed Kubernetes test-infra to build cri-containerd with golang 1.10.

[2018-03-01 03:42] #626 closed

[2018-03-01 03:46] Random-Liu commented on #627
@crosbymichael We'd like to have a release for Kubernetes 1.10 (March 21st).
If we can cut a containerd 1.1-x release around that time, we can deprecate standalone cri-containerd now.
If we can't, we may have to keep the standalone mode and cut a release for the standalone mode around that time.

Can we finish the grpc change before that? Or we may need to cut 1.1-x release later?
Maybe we should

[2018-03-01 17:37] crosbymichael commented on #627
We are not considering the integration complete until it does not use GRPC

[2018-03-01 19:02] stevvooe commented on #590
@Random-Liu Does this need higher stability guarantees than we have for the CLI at this time?

[2018-03-01 19:14] Random-Liu commented on #590
@stevvooe No.

* We only need a `load` command today, and I don't expect it to be changed anytime soon.
* Even if it is changed, this is only used in Kubernetes bootstrapping on GCE, and configured through an [ENV](https://github.com/containerd/cri-containerd/blob/master/cluster/gce/env#L16). People can easily change the ENV based on the containerd version they are using.

[2018-03-02 04:06] Random-Liu commented on #627
I will try to get rid of the extra grpc layer recently, and will handle this issue together with that.

[2018-03-02 05:28] harche commented on #623
@mikebrow @Random-Liu

We are thinking of using upcoming [kata containers](https://katacontainers.io/) for some of the security sensitive workloads to be run in greater isolation.

Considering large configuration of the boxes that we ship, we would really love to have a functionality to run 2 runtimes simultaneously. That way customers don't have a dedicate an entire system just to one type of wor

[2018-03-02 09:34] miaoyq opened #633 "Cri-containerd can not work normally with the default-config"
Set cri-containerd config file:
[code]
Restart cri-containerd service:
[code]
Check the status of cri-containerd:
[code]

 #557 caused the problem.
@Random-Liu

[2018-03-02 17:03] mikebrow commented on #633
Error: failed to run cri-containerd with grpc server: failed to initialize containerd client with endpoint "": failed to dial "": dial unix: missing address

I'll push a fix..

[2018-03-02 17:58] Random-Liu commented on #633
I use `sudo cri-containerd` all the time.

[2018-03-03 00:48] Random-Liu commented on #624
@harche We don't support it yet.

The problem is that for Kubernetes, it is still not clear whether we should handle this at the cluster admission phase; kubelet admission phase or container runtime.

[2018-03-03 00:55] Random-Liu commented on #624
@harche But I do think it is good to have this support in cri-containerd.

[2018-03-03 00:57] Random-Liu commented on #559
I think we've supported this with `-registry-mirror` flag.

We should document this.

[2018-03-03 01:51] Random-Liu commented on #633
Fixed by #634

[2018-03-03 01:51] #633 closed

[2018-03-03 01:52] Random-Liu commented on #633
@miaoyq Feel free to reopen if you see this again.

[2018-03-03 01:53] Random-Liu commented on #627
Ref https://github.com/containerd/containerd/issues/2183

[2018-03-05 00:08] tkellen commented on #144
:tada:

[2018-03-05 11:29] hmtai opened #638 "cri-containerd load image failed"
When I load an image with the command bellow:
[code]
an error occurd:
[code]
It works well with Docker.

The circtl vision:
[code]

[2018-03-05 18:34] Random-Liu commented on #638
@hmtai How do you create the `pause.tar`.

I tried with `k8s.gcr.io/pause-amd64:3.1`, and it works for me:
[code]

[2018-03-05 19:24] mikebrow commented on #638
Works here...
[code]

[2018-03-05 22:03] Random-Liu opened #642 "remove standalone-cri-containerd branch"
We decided to deprecate standalone cri-containerd mode, and only support plugin mode.

However, we should still support  standalone cri-containerd mode for a period of time until plugin mode completely lands. (Ref https://github.com/containerd/containerd/issues/2120)

We've cut a branch `standalone-cri-containerd`. We need to check progress and make decision in the week before release. If we have

[2018-03-06 03:17] hmtai commented on #638
@Random-Liu I use docker save .I can not find the command ctrcri.How to use ctrcri?
[code]

[2018-03-06 09:12] Random-Liu opened #645 "Support in process integration between containerd and CRI plugin"
This is a roadmap for https://github.com/containerd/containerd/issues/2183. We've chosen option 2.

Our current plan is to:
- [x] Create a feature branch `in-process-integration`. https://github.com/containerd/cri-containerd/tree/in-process-integration
- [x] Port services to use internal service. (https://github.com/containerd/containerd/pull/2203)
  - [x] Container (https://github.com/containerd/

[2018-03-06 13:39] dungeonmaster18 commented on #623
As far as katacontainers support is concerned, it is there as a [gsoc proposal](https://github.com/cncf/soc/blob/master/README.md#katacontainers-support-for-containerdcri-containerd) and so I hope it is going to be there very soon.

[2018-03-06 22:01] mikebrow opened #646 "boilerplate needs to support no copyright year"
See thread here https://github.com/containerd/containerd/pull/2108...

So plan is to fix our boilerplate test to support YEAR being optional.

Then I can move our version of boiler tests to containerd/containerd....

[2018-03-06 22:48] Random-Liu commented on #238
We've finished all the integration test listed above. Close this one.

[2018-03-06 22:48] #238 closed

[2018-03-07 02:26] Random-Liu commented on #142
We actually hit this.
In the test failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e-serial/343, kubelet got restarted in the middle of the test, and all on-going contexts got cancelled.

After that task being started is left in a weird state, because all cleanup operations failed:
[code]

[2018-03-07 07:13] Random-Liu opened #649 "cri-containerd suddenly can't pull from authenticated private registry"
[code]

This started happening from this noon. There is no containerd change around that time, and test for docker is fine.

I guess it is gcr made some change which broke containerd authenticated image pulling.

This seems similar with https://github.com/containerd/containerd/issues/2148.

[2018-03-07 08:03] #142 closed

[2018-03-07 09:39] qiujian16 opened #652 "develop section in readme should be updated"
I try to run make & make install and only get the containerd/ctrcri binary. It seems cri-containerd is merged into containerd? Also the socket that kubernetes connects to cri-containerd is changed to /run/containerd/containerd.sock? If these are correct, we should update the readme of the project.

[2018-03-07 18:59] Random-Liu commented on #652
@qiujian16 Thanks for trying this out!

We are planning to cut a release this month, and all documents will be updated. :)

[2018-03-07 22:00] Random-Liu commented on #649
This is fixed by #650. Reopen.

[2018-03-07 23:27] Random-Liu commented on #649
This turns out to be a gcr but. GCR sometimes fail to add `Www-Authenticate` header.

They'll rollback their release.

[2018-03-08 09:50] Random-Liu commented on #649
GCR has rolled back the release. Close

[2018-03-08 09:50] #649 closed

[2018-03-09 09:50] hmtai commented on #638
@Random-Liu @mikebrow cri-containerd load can not load the image which has link image layer?

[2018-03-12 00:29] nim-nim opened #656 "couldn't parse cri-containerd version \"UNKNOWN\": No Major.Minor.Patch elements found"
[code]

[2018-03-12 02:16] Random-Liu commented on #656
@nim-nim We use git to generate a version string. `git describe --tags --dirty --always` (See [here](https://github.com/containerd/cri-containerd/blob/master/Makefile#L25))

You may want to use `make test` instead of `go test`, because the Makefile will inject the version for you.

And if you don't care about this for your development, you can ignore the test failure for now.

[2018-03-12 09:20] nim-nim commented on #656
Hi,

1. `git describe --tags --dirty --always` does not work for release archive, since they cut the git link. 1.0.0-beta.1 is a release archive
2.  our golang maintainer is quite picky about the flags go test should use (for good reason, it's his job to make sure all compiler defaults are caught early) and makefiles tend to eat the flags we apply to all tests so plain go test with generic flags i

[2018-03-12 21:11] Random-Liu commented on #656
@nim-nim We'll remove this unit test in https://github.com/containerd/cri-containerd/pull/653.

So basically you won't see this test in next release (coming by the end of March). :)

[2018-03-12 21:25] nim-nim commented on #656
That's good to know, I hope the safety is somewhere else now (semver is good)

[2018-03-12 21:30] Random-Liu commented on #656
@nim-nim It is containerd's responsibility now. :) `cri-containerd` will become a native plugin of containerd this release. It means that as long as you run containerd, it will natively support CRI.

And cri-containerd will just report the containerd version, because they are same thing now. :)

[2018-03-13 04:52] Random-Liu commented on #645
Since most change has been merged into containerd containerd/containerd#2203, I think we can send a PR to HEAD directly now. #658

[2018-03-13 05:06] Random-Liu commented on #638
@hmtai What do you mean by "link image layer?

[2018-03-13 05:31] Random-Liu commented on #638
@hmtai Yeah, symlink file is skipped https://github.com/containerd/cri-containerd/blob/master/pkg/containerd/importer/importer.go#L104.

I think it is for security consideration. @AkihiroSuda

Why `648a008b041c2bed7d854226dfa4a40476222c9b081a879e74b0b6bcc7578e13/layer.tar` is a symlink to `../768d4f50f65f00831244703e57f64134771289e3de919a576441c9140e037ea2/layer.tar`...

[2018-03-13 05:42] Random-Liu commented on #559
@kumudkhk Can you check out https://github.com/containerd/cri-containerd/blob/master/docs/registry.md?

Close this one.

[2018-03-13 05:42] #559 closed

[2018-03-13 05:51] Random-Liu opened #659 "Remove CNI from release tarball."
We can download cni binaries from kubernetes release gs://kubernetes-release/network-plugins.

[2018-03-13 17:26] #645 closed

[2018-03-13 17:26] #656 closed

[2018-03-13 18:08] Random-Liu opened #660 "Rename `cri-containerd` to `cri`"
`cri-containerd` is now purely a plugin of containerd, even the standalone mode does not exist anymore. (see https://github.com/containerd/cri-containerd/issues/642).

It makes sense to rename the repo from `cri-containerd` to `cri` now. We need to:
- [x] Update all imports and repo name.
- [x] Update test infrastructure. https://github.com/kubernetes/test-infra/pull/7246
- [x] Update variable nam

[2018-03-13 21:53] mikebrow commented on #660
TODO: The config is changed. We need to generate a new output used in crictl.md .

[2018-03-13 21:54] mikebrow commented on #660
The README.md still needs rework, "Explain the transition from cri-containerd to containerd, The dependency/build section doesn't make much sense as well..."

[2018-03-13 23:53] Random-Liu commented on #529
We've done most of this. The cri-containerd to cri renaming will be tracked in https://github.com/containerd/cri/issues/660.

Close this one.

[2018-03-13 23:53] #529 closed

[2018-03-14 17:53] Random-Liu commented on #627
This is done in https://github.com/containerd/cri/pull/658.
Close.

[2018-03-14 17:53] #627 closed

[2018-03-14 17:54] Random-Liu opened #664 "Generate document for CRI config."
I hope we can auto generate a toml document for CRI config.

If there is no easy way to auto generate, at least we can manually do that.

[2018-03-14 18:30] Random-Liu commented on #462
Punt this to next release.

This will be much easier after we have a containerd release which has CRI built in.

[2018-03-14 18:31] Random-Liu opened #665 "Streaming server should set TLS config"
To avoid regression, streaming server should generate a random public/private key and set TLS config to make the connection encrypted.

[2018-03-15 03:55] Random-Liu commented on #590
I'll continue this work after https://github.com/containerd/containerd/issues/2210 is fixed.

It may makes our test flaky if we upgrade containerd now.

[2018-03-15 09:12] jovizhangwei opened #668 "cri-containerd cannot pull public image with invalid username/password"
cri-containerd cannot pull public image with username/password.
We expected containerd should pull the public image whatever username/password given or not.

[code]

[code]

Compare with docker, docker can pull public image whatever login succeeded or not.

I tried to report this issue to containerd, but they suggested cri-containerd could do some improvements similar with what docker does.

Pleas

[2018-03-15 18:36] #434 closed

[2018-03-15 23:39] Random-Liu commented on #668
@jovizhangwei Just curious, in what case, you need `crictl -r /var/run/cri-containerd.sock pull nginx --creds foo:foo` to work?

[2018-03-16 00:12] Random-Liu opened #672 "Add CRI validation test to check semver"
Kubelet does require the container runtime version to be semver today. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L226

We should either:
1) Enforce that, and add CRI validation test to check that.
2) Get rid of the requirement in kubelet.

[2018-03-16 00:15] #590 closed

[2018-03-16 00:28] Random-Liu commented on #642
Everything is on track now. I think we can delete the `standalone-cri-containerd` branch.

[2018-03-16 03:16] jovizhangwei commented on #668
@Random-Liu take below example:

[code]
Put public image and private image in one pod, with imagePullSecrets for private image. Because public image and private image have some server, so public image will also try to use the imagePullSecrets, then we can found failed to pull public image.

[code]

If change the container runtime to Docker, then there have no issues.

[2018-03-16 05:53] Random-Liu commented on #668
@jovizhangwei This makes sense to me. We should fix this @abhi

[2018-03-16 15:09] abhi commented on #668
I understand the use case here.
The one concern is - if user attaches a wrong secret and because the auth fails , we pull from a public repo without pass, would that mean the user might end up running the un intended image silently? I think that is some concern on how to go about handling.